{{define "result"}}
<h2>{{ .res.Name}}</h2>
<div class="accordion" id="accordion2">
  {{if .res.Code}}
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#code">Code</a>
    </div>
    <div id="code" class="accordion-body collapse in">
      <div class="accordion-inner">
	<textarea name="code" cols="60" rows="10" class="java">
	  {{ .res.Code }}
	</textarea>
      </div>
    </div>
  </div>
  {{end}}
  {{range .res.Results}}
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#{{.Name}}">
	{{.Name}}
      </a>
    </div>
    <div id="{{.Name}}" class="accordion-body collapse">
      <div class="accordion-inner">
	{{if .HTML}}
	<iframe src='{{genHTML .Name .Data}}' allowTransparency="true" sandbox="" width="1000" height="500" seamless></iframe>
	{{else}}
	<p>{{.Output}}</p>
	{{end}}
      </div>
    </div>
  </div>
  {{end}}
</div>
{{end}}
