{{define "view"}}
<ul class="breadcrumb">
  <li><a href="homeview">Home</a><span class="divider">/</span></li>
  {{if .ctx.Browse.IsUser}}
  <li><a href="getusers">Users</a><span class="divider"></span></li>
  <li><a href="getsubmissions?id={{.ctx.Browse.Uid}}&type=user">Submissions</a><span class="divider"></span></li>
  {{else}}
  <li><a href="getprojects">Projects</a><span class="divider"></span></li>
  <li><a href="getsubmissions?id={{.ctx.Browse.Pid}}&type=project">Submissions</a><span class="divider"></span></li>
  {{end}}
  <li><a href="getfiles?subid={{.ctx.Browse.Sid}}">Snapshots</a><span class="divider"></span></li>
  <li class="active">Analysis</li>
</ul>
<h2>{{ .res.Name}}</h2>
<div class="accordion" id="accordion2">
  {{if .res.Code}}
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#code">Code</a>
    </div>
    <div id="code" class="accordion-body collapse">
      <div class="accordion-inner">
	<textarea name="code" cols="60" rows="10" class="java">
	  {{ .res.Code }}
	</textarea>
      </div>
    </div>
  </div>
  {{end}}
  {{range $k,$v := .res.Results}}
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#{{$k}}">
	{{$k}}
      </a>
    </div>
    <div id="{{$k}}" class="accordion-body collapse">
      <div class="accordion-inner">
	{{with $res := getResult $k $v}}
	<p>{{$res.HTML}}</p>
	{{end}}
      </div>
    </div>
  </div>
  {{end}}
</div>
{{end}}
