{{define "view"}}
<ul class="breadcrumb">
  <li><a href="homeview">Home</a><span class="divider">/</span></li>  
  {{if .ctx.Browse.IsUser}}
  <li><a href="getusers">Users</a><span class="divider"></span></li>
  <li><a href="getsubmissions?id={{.ctx.Browse.Uid}}&type=user">Submissions</a><span class="divider"></span></li>
  {{else}}
  <li><a href="getprojects">Projects</a><span class="divider"></span></li>
  <li><a href="getsubmissions?id={{.ctx.Browse.Pid}}&type=project">Submissions</a><span class="divider"></span></li>
  {{end}}
  <li class="active">Snapshots</li>
</ul>
<table class="table table-hover">
  <thead><tr class="info">
      <th>Name</th>
      <th>Number</th>
      <th>Change</th>
      <th>Created</th>
  </tr></thead>
  <tbody data-provides="rowlink" >
    {{ range .fileRes}}
    <tr class="success"><td><a class="rowlink" href="getresults?fileid={{.Id.Hex}}" >{{.Name}}</a></td>
      <td><a class="rowlink" href="getresults?fileid={{.Id.Hex}}" >{{.Num}}</a></td>
      <td><a class="rowlink" href="getresults?fileid={{.Id.Hex}}" >{{.Mod}}</a></td>
      <td><a class="rowlink" href="getresults?fileid={{.Id.Hex}}" >{{date .Time}}</a></td></tr>
    {{end}}
  </tbody>
</table>
{{end}}
