{{ define "navbar" }}
<div id="navbar" class="row-fluid">
    <h1>Impendulo</h1>
    <div class="navbar navbar-inverse">
      <div class="navbar-inner nav-collapse" style="height: auto;">
	{{ template "tabs" . }}
	{{ if .ctx.LoggedIn }}
	<form class="navbar-form pull-right" action="logout" method="POST">
          <button type="submit" class="btn btn-inverse">Logout</button>
	</form>
	{{ else }}
	<form class="navbar-form pull-right" action="login" method="POST">
          <input class="span2" type="text" placeholder="Username" name="username">
          <input class="span2" type="password" placeholder="Password" name="password">
          <button type="submit" class="btn btn-inverse">Login</button>
	</form>
	{{ end }}
      </div>
  </div>
</div>
{{ end }}
