{{define "view"}}
<ul class="breadcrumb">
  <li><a href="homeview">Home</a> <span class="divider">/</span></li>
  <li class="active">Projects</li>
</ul>
<table class="table table-hover">
  <thead><tr class="info">
      <th>Name</th>
      <th>Created</th>
      <th>Language</th>
  </tr></thead>
  <tbody data-provides="rowlink" >
    {{ range .ctx.Projects}}
    <tr class="success"><td><a class="rowlink" href="getsubmissions?id={{.Id.Hex}}&type=project" >{{.Name}}</a></td>
      <td><a class="rowlink" href="getsubmissions?id={{.Id.Hex}}&type=project" >{{date .Time}}</a></td>
      <td><a class="rowlink" href="getsubmissions?id={{.Id.Hex}}&type=project" >{{.Lang}}</a></td></tr>
    {{end}}
  </tbody>
</table>
{{end}}
