{{define "view"}}
{{$curFile := .curFile}}
{{$nextFile := .nextFile}}
{{$resultName := .ctx.Browse.Result}}
{{$fileName := $curFile.Name}}
{{$results := .results}}
{{$selected := .selected}}
{{$neighbour := .neighbour}}
<ul class="breadcrumb">
  <li><a href="homeview">Home</a></li>
  {{if .ctx.Browse.IsUser}}
  <li><a href="userresult">Users</a></li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown">
      User Submissions <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      {{range .ctx.Users}}
      <li><a href="getsubmissions?id={{.Name}}&type=user">{{.Name}}</a></li>
      {{end}}
    </ul>
  </li>
  <li><a href="getfiles?subid={{.ctx.Browse.Sid}}">{{projectName .ctx.Browse.Pid}} Submission</a></li>
  {{else}}
  <li><a href="projectresult">Projects</a></li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown">
      Project Submissions <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      {{range .ctx.Projects}}
      <li><a href="getsubmissions?id={{.Id.Hex}}&type=project">{{.Name}}</a></li>
      {{end}}
    </ul>
  </li>
  <li><a href="getfiles?subid={{.ctx.Browse.Sid}}">{{.ctx.Browse.Uid}}'s Submission</a></li>
  {{end}}
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown">
      {{$resultName}} Analysis <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      {{range $results}}  
      <li>
	<a href="displayresult?filename={{$curFile.Name}}&currentIndex={{$selected}}&nextIndex={{$neighbour}}&resultname={{.}}">
	  {{.}}
	</a>
      </li>
      {{end}}
    </ul>
  </li>
</ul>
<h2 class="text-center">
  <small>user</small> {{.ctx.Browse.Uid}} 
  <small>project</small> {{projectName .ctx.Browse.Pid}}
  <small>file</small> {{ $fileName}} 
  <small>tool</small> {{$resultName}}
</h2>
<div class="row">
  <div class="col-md-8">
    {{template "pager" .}}
  </div>
  <div class="col-md-4">
      <form role="form" class="form-padded form-inline" action="displayresult" method="get">
	<div class="form-group">
	  <label class="sr-only" for="currentIndex">First File</label>
	  <select class="form-control" name="currentIndex" id="currentIndex">
	    {{range $index, $file := .files}} 
	    {{$dispIndex := sum $index 1}}
	    {{if $curFile.Same $file}}
	    <option selected value="{{$index}}">{{$dispIndex}}</option>
	    {{else}}
	    <option value="{{$index}}">{{$dispIndex}}</option>
	    {{end}}
	    {{end}}
	  </select>
	</div>
	<div class="form-group">
	  <label class="sr-only" for="nextIndex">Second File</label>
	  <select class="form-control" name="nextIndex" id="nextIndex">
	    {{range $index, $file := .files}} 
	    {{$dispIndex := sum $index 1}}
	    {{if equal $neighbour $index}}
	    <option selected value="{{$index}}">{{$dispIndex}}</option>
	    {{else}}
	    <option value="{{$index}}">{{$dispIndex}}</option>
	    {{end}}
	    {{end}}
	  </select>
	</div>
	<input type="hidden" name="filename" value="{{$fileName}}"/>
	<button type="submit" class="btn btn-default">
	  <span class="glyphicon glyphicon-arrow-right"></span>
	</button>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <dl class="dl-horizontal text-info">
      <dt>File Number</dt>
      <dd>{{sum $selected 1}}</dd>
      <dt>Date</dt>
      <dd>{{date $curFile.Time}}</dd>
    </dl>
  </div>
  <div class="col-md-6">
    <dl class="dl-horizontal text-info">
      <dt>File Number</dt>
      <dd>{{sum $neighbour 1}}</dd>
      <dt>Date</dt>
      <dd>{{date $nextFile.Time}}</dd>
    </dl>
  </div>
</div>
{{if isCode $resultName}}
<div class="panel-group" id="codeaccordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#codeaccordion" href="#diff">Diff</a>
    </div>
    <div id="diff" class="panel-collapse collapse in">
      <div class="accordion-inner">
	{{$diff := diff .curResult .nextResult}}
	{{$cur := sum $selected 1}}
	{{$currHeader := createHeader $curFile $cur}}
	{{$next := sum $neighbour 1}}
	{{$nextHeader := createHeader $nextFile $next}} 
	{{$diff := diffHeader $diff $currHeader $nextHeader}}
	{{diffHTML $diff}}
      </div>
    </div>
  </div>
</div>
{{end}}
<div class="row">
  <div class="col-md-6">
    {{template "currentResult" .curResult}}
  </div>
  <div class="col-md-6">
    {{template "nextResult" .nextResult}}
  </div>
</div>
{{end}}
