{{define "view"}}
{{$curFile := .curFile}}
{{$nextFile := .nextFile}}
{{$resultName := .ctx.Browse.ResultName}}
{{$fileName := $curFile.Name}}
{{$results := .results}}
{{$selected := .ctx.Browse.Selected}}
{{$neighbour := .ctx.Browse.Next}}
{{$project := projectName .ctx.Browse.Pid}}
<ul class="breadcrumb">
  <li><a href="homeview">Home</a></li>
  {{if .ctx.Browse.IsUser}}
  <li><a href="userresult">Users</a></li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      User Submissions <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      {{range .ctx.Users}}
      <li><a href="getsubmissions?id={{.Name}}&type=user">{{.Name}}</a></li>
      {{end}}
    </ul>
  </li>
  {{else}}
  <li><a href="projectresult">Projects</a></li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      Project Submissions <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      {{range .ctx.Projects}}
      <li><a href="getsubmissions?id={{.Id.Hex}}&type=project">{{.Name}}</a></li>
      {{end}}
    </ul>
  </li>
  {{end}}
  <li><a href="getfiles">{{.ctx.Browse.Uid}}'s
      {{$project}} Submission</a></li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      {{$resultName}} <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      {{range $results}}  
      <li>
	<a href="displayresult?resultname={{.}}">
	  {{.}}
	</a>
      </li>
      {{end}}
    </ul>
  </li>
</ul>
<h2 class="text-center">
  <small>user</small> {{.ctx.Browse.Uid}} 
  <small>project</small> {{$project}}
  <small>file</small> {{ $fileName}} 
  <small>tool</small> {{$resultName}}
</h2>
<div class="row">
  <div class="col-md-8">
    {{template "pager" .}}
  </div>
  <div class="col-md-4">
    <form role="form" class="form-padded form-inline" action="displayresult" method="get">
      <div class="form-group">
	<label class="sr-only" for="currentIndex">First File</label>
	<select class="form-control" name="currentIndex" id="currentIndex">
	  {{range $index, $file := .files}} 
	  {{$dispIndex := sum $index 1}}
	  {{if $curFile.Same $file}}
	  <option selected value="{{$index}}">{{$dispIndex}}</option>
	  {{else}}
	  <option value="{{$index}}">{{$dispIndex}}</option>
	  {{end}}
	  {{end}}
	</select>
      </div>
      <div class="form-group">
	<label class="sr-only" for="nextIndex">Second File</label>
	<select class="form-control" name="nextIndex" id="nextIndex">
	  {{range $index, $file := .files}} 
	  {{$dispIndex := sum $index 1}}
	  {{if equal $neighbour $index}}
	  <option selected value="{{$index}}">{{$dispIndex}}</option>
	  {{else}}
	  <option value="{{$index}}">{{$dispIndex}}</option>
	  {{end}}
	  {{end}}
	</select>
      </div>
      <button type="submit" class="btn btn-default">
	<span class="glyphicon glyphicon-arrow-right"></span>
      </button>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <dl class="dl-horizontal text-info">
      <dt>File Number</dt>
      <dd>{{sum $selected 1}}</dd>
      <dt>Date</dt>
      <dd>{{date $curFile.Time}}</dd>
    </dl>
  </div>
  <div class="col-md-6">
    <dl class="dl-horizontal text-info">
      <dt>File Number</dt>
      <dd>{{sum $neighbour 1}}</dd>
      <dt>Date</dt>
      <dd>{{date $nextFile.Time}}</dd>
    </dl>
  </div>
</div>
{{if (equal $resultName "Diff")}}
{{$data := .curResult.Create .nextResult}}
{{template "currentResult"  $data}}
{{else}}
<div class="row">
  <div class="col-md-6">
    {{template "currentResult"  .}}
  </div>
  <div class="col-md-6">
    {{template "nextResult"  .}}
  </div>
</div>
{{if (equal $resultName "Code")}}
<script type="text/javascript">
  SyntaxHighlighter.all();
  window.onload = function(){
  var lines = document.getElementsByClassName("highlighted");
  console.log(lines[0]);
  if(lines[0] != undefined){
  lines[0].scrollIntoView();
  }
  };
</script>
{{end}}
{{end}}
{{end}}
