{{define "nextResult" }}
{{$result := .curResult}}
{{if $result.Success}}
<h4 class="text-success">No problems detected.</h4>
{{else}}
{{$file := $result.File .ctx.Browse.FileName}}
{{$count := len $file.Errors}}
<h4 class="text-danger">{{$count}} problems detected.</h4>
<div class="panel-group" id="checkstyleaccordionNext">
  {{$errors := $file.Problems}}
  {{range $errors}}
  {{$erroraddress := address .}}
  <div class="panel panel-default">
    <div class="panel-heading">
      <a class="accordion-toggle" data-toggle="collapse"
	 data-parent="#checkstyleaccordionNext"
	 href="#Error{{$erroraddress}}Next">
	<h5 class="text-center">{{shortname .Source}}</h5>
      </a>
    </div>
    <div id="Error{{$erroraddress}}Next" class="panel-collapse collapse">
      <div class="accordion-inner">
	<dl class="dl-horizontal">
	  <dt>Locations</dt>
	  <dd>
	    {{range .Lines}}
	    <a href="displayresult?resultname=Code&nextfocusstart={{.}}">
	      Line {{.}};
	    </a>
	    {{end}}
	  </dd>	
	  <dt>Severity</dt><dd>{{.Severity}}</dd>
	  <dt>Description</dt><dd>{{.Message}}</dd>
	</dl>
      </div>
    </div>
  </div>
  {{end}}
</div>
{{end}}
{{end}}
