{{define "view"}}
{{$curFile := .curFile}}
{{$nextFile := .nextFile}}
{{$resultName := .ctx.Browse.Result}}
{{$fileName := $curFile.Name}}
{{$results := .results}}
<ul class="breadcrumb">
  <li><a href="homeview">Home</a><span class="divider">/</span></li>
  {{if .ctx.Browse.IsUser}}
  <li><a href="getusers">Users</a><span class="divider"></span></li>
  <li><a href="getsubmissions?id={{.ctx.Browse.Uid}}&type=user">Submissions</a><span class="divider"></span></li>
  {{else}}
  <li><a href="getprojects">Projects</a><span class="divider"></span></li>
  <li><a href="getsubmissions?id={{.ctx.Browse.Pid}}&type=project">Submissions</a><span class="divider"></span></li>
  {{end}}
  <li><a href="getfiles?subid={{.ctx.Browse.Sid}}">Snapshots</a><span class="divider"></span></li>
  <li class="active">Results</li>
</ul>
<h3>{{ $fileName}}</h3>
<div class="row-fluid">
  <div class="span6">
    <div id="filePager" files="{{len .files}}" selected="{{.selected}}" class="pagination pagination-right">
      {{range $index, $file := .files}}
      {{$nextIndex := sum $index 1}}
      <a id="file{{$index}}" href="displayresult?filename={{$fileName}}&currentIndex={{$index}}&nextIndex={{$nextIndex}}"></a>
      {{end}}
    </div>
  </div>
  <div class="span6">
    <form class="form-inline form-padded" action="displayresult" method="get">
      <select class="input-mini" name="currentIndex">
	{{range $index, $file := .files}} 
	{{$dispIndex := sum $index 1}}
	{{if $curFile.Same $file}}
	<option selected value="{{$index}}">{{$dispIndex}}</option>
	{{else}}
	<option value="{{$index}}">{{$dispIndex}}</option>
	{{end}}
	{{end}}
      </select>
      <select class="input-mini" name="nextIndex">
	{{range $index, $file := .files}} 
	{{$dispIndex := sum $index 1}}
	{{if $nextFile.Same $file}}
	<option selected value="{{$index}}">{{$dispIndex}}</option>
	{{else}}
	<option value="{{$index}}">{{$dispIndex}}</option>
	{{end}}
	{{end}}
      </select>        
      <input type="hidden" name="filename" value="{{$fileName}}"/>
      <button type="submit" class="btn">Compare</button>
    </form>
  </div>
</div>
<ul class="breadcrumb">
  {{range $results}}
  {{if equal . $resultName}}
  <li class="active">{{$resultName}}<span class="divider"></li>
  {{else}}
  <li><a href="displayresult?filename={{$curFile.Name}}&currentIndex={{$curFile.Num}}&nextIndex={{$nextFile.Num}}&resultname={{.}}">
      {{.}}
  </a><span class="divider"></li>
  {{end}}
  {{end}}
</ul>
{{if isCode $resultName}}
<div class="accordion" id="codeaccordion">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#codeaccordion" href="#code">Code</a>
    </div>
    <div id="code" class="accordion-body collapse">
      <div class="accordion-inner">
	<div class="row-fluid">
	  <div class="span6">
	    {{template "fileInfo" $curFile}}
	    {{template "currentResult" .curResult}}
	  </div>
	  <div class="span6">
	    {{template "fileInfo" $nextFile}}
	    {{template "nextResult" .nextResult}}
	  </div>
	</div>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#codeaccordion" href="#diff">Diff</a>
    </div>
    <div id="diff" class="accordion-body collapse">
      <div class="accordion-inner">
	{{$diff := diff .curResult .nextResult}}
	{{$cur := sum .selected 1}}
	{{$currHeader := createHeader $curFile $cur}}
	{{$next := sum .nextFile.Num 1}}
	{{$nextHeader := createHeader $nextFile $next}} 
	{{$diff := diffHeader $diff $currHeader $nextHeader}}
	{{diffHTML $diff}}
      </div>
    </div>
  </div>
</div>
{{else}}
<h4>{{$resultName}}</h4>
<div class="row-fluid">
  <div class="span6">
    {{template "fileInfo" $curFile}}
    {{template "currentResult" .curResult}}
  </div>
  <div class="span6">
    {{template "fileInfo" $nextFile}}
    {{template "nextResult" .nextResult}}
  </div>
</div>
{{end}}
{{end}}
