{{define "view"}}
{{$curFile := .curFile}}
{{$nextFile := .nextFile}}
{{$resultName := .ctx.Browse.Result}}
{{$fileName := $curFile.Name}}
{{$results := .results}}
{{$selected := .selected}}
{{$neighbour := .neighbour}}
<ul class="breadcrumb">
  <li><a href="homeview">Home</a></li>
  {{if .ctx.Browse.IsUser}}
  <li><a href="userresult">Users</a></li>
  <li><a href="getsubmissions?id={{.ctx.Browse.Uid}}&type=user">Submissions</a></li>
  {{else}}
  <li><a href="projectresult">Projects</a></li>
  <li><a href="getsubmissions?id={{.ctx.Browse.Pid}}&type=project">Submissions</a></li>
  {{end}}
  <li><a href="getfiles?subid={{.ctx.Browse.Sid}}">Snapshots</a></li>
  <li class="active">Analysis</li>
</ul>
<ul class="breadcrumb">
  {{range $results}}
  {{if equal . $resultName}}
  <li class="active">{{$resultName}}</li>
  {{else}}
  <li><a href="displayresult?filename={{$curFile.Name}}&currentIndex={{$selected}}&nextIndex={{$neighbour}}&resultname={{.}}">
      {{.}}
  </a></li>
  {{end}}
  {{end}}
</ul>
<div class="row">
  <div class="col-md-4">  
    <h2>{{ $fileName}} <small>- {{$resultName}}</small></h2>
  </div>
  <div class="col-md-5">
    {{template "pager" .}}
  </div>
  <div class="col-md-3">
      <form role="form" class="form-padded form-inline" action="displayresult" method="get">
	<div class="form-group">
	  <label class="sr-only" for="currentIndex">First File</label>
	  <select class="form-control" name="currentIndex" id="currentIndex">
	    {{range $index, $file := .files}} 
	    {{$dispIndex := sum $index 1}}
	    {{if $curFile.Same $file}}
	    <option selected value="{{$index}}">{{$dispIndex}}</option>
	    {{else}}
	    <option value="{{$index}}">{{$dispIndex}}</option>
	    {{end}}
	    {{end}}
	  </select>
	</div>
	<div class="form-group">
	  <label class="sr-only" for="nextIndex">Second File</label>
	  <select class="form-control" name="nextIndex" id="nextIndex">
	    {{range $index, $file := .files}} 
	    {{$dispIndex := sum $index 1}}
	    {{if equal $neighbour $index}}
	    <option selected value="{{$index}}">{{$dispIndex}}</option>
	    {{else}}
	    <option value="{{$index}}">{{$dispIndex}}</option>
	    {{end}}
	    {{end}}
	  </select>
	</div>
	<input type="hidden" name="filename" value="{{$fileName}}"/>
	<button type="submit" class="btn btn-default">
	  <span class="glyphicon glyphicon-arrow-right"></span>
	</button>
    </form>
  </div>
</div>
{{if isCode $resultName}}
<div class="row">
  <div class="col-md-6">
    {{template "fileInfo" $curFile}}
  </div>
  <div class="col-md-6">
    {{template "fileInfo" $nextFile}}
  </div>
</div>
<div class="panel-group" id="codeaccordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#codeaccordion" href="#diff">Diff</a>
    </div>
    <div id="diff" class="panel-collapse collapse in">
      <div class="accordion-inner">
	{{$diff := diff .curResult .nextResult}}
	{{$cur := sum $curFile.Num 1}}
	{{$currHeader := createHeader $curFile $cur}}
	{{$next := sum $nextFile.Num 1}}
	{{$nextHeader := createHeader $nextFile $next}} 
	{{$diff := diffHeader $diff $currHeader $nextHeader}}
	{{diffHTML $diff}}
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#codeaccordion" href="#code">Code</a>
    </div>
    <div id="code" class="panel-collapse collapse">
      <div class="accordion-inner">
	<div class="row">
	  <div class="col-md-6">
	    {{template "currentResult" .curResult}}
	  </div>
	  <div class="col-md-6">
	    {{template "nextResult" .nextResult}}
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
{{else}}
<div class="row">
  <div class="col-md-6">
    {{template "fileInfo" $curFile}}
    {{template "currentResult" .curResult}}
  </div>
  <div class="col-md-6">
    {{template "fileInfo" $nextFile}}
    {{template "nextResult" .nextResult}}
  </div>
</div>
{{end}}
{{end}}
