{{define "view"}}
<ul class="breadcrumb">
  <li><a href="homeview">Home</a></li>  
  {{if .ctx.Browse.IsUser}}
  <li><a href="userresult">Users</a></li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      User Submissions <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      {{range .ctx.Users}}
      <li><a href="getsubmissions?id={{.Name}}&type=user">{{.Name}}</a></li>
      {{end}}
    </ul>
  </li>
  <li class="active">{{projectName .ctx.Browse.Pid}} Submission</li>
  {{else}}
  <li><a href="projectresult">Projects</a></li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      Project Submissions <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      {{range .ctx.Projects}}
      <li><a href="getsubmissions?id={{.Id.Hex}}&type=project">{{.Name}}</a></li>
      {{end}}
    </ul>
  </li>
  <li class="active">{{.ctx.Browse.Uid}}'s Submission</li>
  {{end}}
</ul>
<h2 class="text-center"><small>user</small> {{.ctx.Browse.Uid}} <br>
  <small>project</small> {{projectName .ctx.Browse.Pid}}</h2>
<ul class="list-unstyled">
  {{range .fileinfo}}
  <li>
    <h3>{{.Name}}</h3>
    <h5>{{.Count}} Snapshots</h5>
    <a href="displayresult?filename={{.Name}}&currentIndex=0&nextIndex=1&resultname=Javac">Analysis</a>
    <a href="displaygraph?filename={{.Name}}&resultname=Javac&type=time">Graphs</a>
  </li>
  {{end}}
</ul>
{{end}}
