{{ define "currentResult" }}
{{$id := .Id.Hex}}
<div class="panel-group" id="fbaccordion{{$id}}">
  <div class="panel panel-default">
    <div class="panel-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#fbaccordion{{$id}}" href="#Summary{{$id}}"><h4>Summary</h4></a>
    </div>
    <div id="Summary{{$id}}" class="panel-collapse collapse in">
      <div class="accordion-inner">
	<div class="panel-group" id="fbsummaryaccordion{{$id}}">
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <a class="accordion-toggle" data-toggle="collapse" data-parent="#fbsummaryaccordion{{$id}}" href="#Overview{{$id}}">
		<h5 class="text-center">Overview</h5>
	      </a>
	    </div>
	    <div id="Overview{{$id}}" class="panel-collapse collapse">
	      <div class="accordion-inner">
		<dl class="dl-horizontal">
		  <dt>Classes Analyzed</dt><dd>{{.Summary.ClassCount}}</dd>
		  <dt>Packages Analyzed</dt><dd>{{.Summary.PackageCount}}</dd>
		  <dt>Classes Referenced</dt><dd>{{.Summary.ReferenceCount}}</dd>
		  <dt>Total Bugs Found</dt><dd>{{.Summary.BugCount}}</dd>
		  <dt>Priority 1 Bugs Found</dt><dd>{{.Summary.Priority1}}</dd>
		  <dt>Priority 2 Bugs Found</dt><dd>{{.Summary.Priority2}}</dd>
		  <dt>Priority 3 Bugs Found</dt><dd>{{.Summary.Priority3}}</dd>
		</dl>
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <a class="accordion-toggle" data-toggle="collapse" data-parent="#fbsummaryaccordion{{$id}}" href="#Files{{$id}}">
		<h5 class="text-center">Files</h5>
	      </a>
	    </div>
	    <div id="Files{{$id}}" class="panel-collapse collapse">
	      <div class="accordion-inner">
		{{range .Summary.Files}}
		<dl class="dl-horizontal">
		  <dt>Path</dt><dd>{{.Path}}</dd>
		  <dt>Bugs Found</dt><dd>{{.BugCount}}</dd>
		</dl>
		{{end}}
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <a class="accordion-toggle" data-toggle="collapse" data-parent="#fbsummaryaccordion{{$id}}" href="#Packages{{$id}}">
		<h5 class="text-center">Packages</h5>
	      </a>
	    </div>
	    <div id="Packages{{$id}}" class="panel-collapse collapse">
	      <div class="accordion-inner">
		<div class="panel-group" id="fbpkgaccordion{{$id}}">
		  {{range .Summary.Packages}}
		  {{$pkgaddress := address .}} 
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <a class="accordion-toggle" data-toggle="collapse" data-parent="#fbpkgaccordion{{$id}}" href="#Package{{$pkgaddress}}{{$id}}">Name: {{.Name}}</a>
		    </div>
		    <div id="Package{{$pkgaddress}}{{$id}}" class="panel-collapse collapse">
		      <div class="accordion-inner">
			<dl class="dl-horizontal">
			  <dt>Number of Classes</dt><dd>{{.ClassCount}}</dd>
			  <dt>Bugs Found</dt><dd>{{.BugCount}}</dd>
			  <dt>Priority 1 Bugs Found</dt><dd>{{.Priority1}}</dd>
			  <dt>Priority 2 Bugs Found</dt><dd>{{.Priority2}}</dd>
			  <dt>Priority 3 Bugs Found</dt><dd>{{.Priority3}}</dd>
			  <div class="panel-group" id="fbclass{{$pkgaddress}}{{$id}}">
			    {{range .Classes}}
			    {{$classaddress := address .}} 
			    <div class="panel panel-default">
			      <div class="panel-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#fbclass{{$pkgaddress}}{{$id}}" href="#Class{{$classaddress}}{{$id}}">{{.Name}}</a>
			      </div>
			      <div id="Class{{$classaddress}}{{$id}}" class="panel-collapse collapse">
				<div class="accordion-inner">
			  	  <dl class="dl-horizontal">
				    <dt>Source File</dt><dd>{{.Source}}</dd>
				    <dt>Interface</dt><dd>{{.IsInterface}}</dd>
				    <dt>Bugs Found</dt><dd>{{.BugCount}}</dd>
				    <dt>Priority 1 Bugs Found</dt><dd>{{.Priority1}}</dd>
				    <dt>Priority 2 Bugs Found</dt><dd>{{.Priority2}}</dd>
				    <dt>Priority 3 Bugs Found</dt><dd>{{.Priority3}}</dd>
				  </dl>
				</div>
			      </div>
			    </div>
			    {{end}}
			  </div>
			</dl>
		      </div>
		    </div>
		  </div>
		  {{end}}
		</div>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
  {{if (equal (len .Instances) 0)}}
  {{else}}
  <div class="panel panel-default">
    <div class="panel-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#fbaccordion{{$id}}" href="#Bugs{{$id}}"><h4>Bugs</h4></a>
    </div>
    <div id="Bugs{{$id}}" class="panel-collapse collapse">
      <div class="accordion-inner">
	<div class="panel-group" id="fbbugsaccordion{{$id}}">
	  {{$patterns := .PatternMap}}
	  {{$categories := .CategoryMap}}
	  {{range .Instances}}
	  {{$pattern := index $patterns .Type}}
	  {{$category := index $categories .Category}}
	  <div class="panel panel-default">
	    {{$bugaddress := address .}} 
	    <div class="panel-heading">
	      <a class="accordion-toggle" data-toggle="collapse" data-parent="#fbbugsaccordion{{$id}}" href="#Bug{{$bugaddress}}{{$id}}">
		<h5 class="text-center">{{$pattern.Description}}</h5>
	      </a>
	    </div>
	    <div id="Bug{{$bugaddress}}{{$id}}" class="panel-collapse collapse">
	      <div class="accordion-inner">
		 <dl class="dl-horizontal">
		   <dt>Priority</dt><dd>{{.Priority}}</dd>
		   <dt>Category</dt><dd>{{$category.Description}}</dd>
		   <dt>Rank</dt><dd>{{.Rank}}</dd>
		   <dt>Description</dt><dd>{{.LongMessage}}</dd>
		   <dt>Source Line</dt><dd>{{.Line.Message}}</dd>
		 </dl>
	      </div>
	    </div>
	  </div>
	  {{end}}
	</div>
      </div>
    </div>
  </div>
  {{end}}
</div>
{{end}}
