{{define "view"}}
{{$resultName := .ctx.Browse.Result}}
{{$fileName := .fileName}}
{{$results := .results}}
<ul class="breadcrumb">
  <li><a href="homeview">Home</a></li>
  {{if .ctx.Browse.IsUser}}
  <li><a href="userresult">Users</a></li>
  <li><a href="getsubmissions?id={{.ctx.Browse.Uid}}&type=user">Submissions</a></li>
  {{else}}
  <li><a href="projectresult">Projects</a></li>
  <li><a href="getsubmissions?id={{.ctx.Browse.Pid}}&type=project">Submissions</a></li>
  {{end}}
  <li><a href="getfiles?subid={{.ctx.Browse.Sid}}">Snapshots</a></li>
  <li class="active">Graphs</li>
</ul>
<ul class="breadcrumb">
  {{range $results}}
  {{if equal . $resultName}}
  <li class="active">{{$resultName}}</li>
  {{else}}
  <li>
    <a href="displaygraph?filename={{$fileName}}&resultname={{.}}">
      {{.}}
    </a>
  </li>
  {{end}}
  {{end}}
</ul>
<h2>{{$fileName}} - <small>{{$resultName}}</small></h2>
<script language="javascript" src="/static/js/jquery-2.0.2.min.js"></script>
<script language="javascript" src="/static/js/d3.v3.min.js"></script>
<script language="javascript" src="/static/js/rickshaw.js"></script>
<script language="javascript" src="/static/js/graphs.js"></script> 
<div class="chart_holder" id="resultGraphHolder">
  <div class="y_axis" id="resultGraphY"></div>
  <div class="chart" id="resultGraph"></div>
  <div class="legend" id="resultGraphLegend"></div>
  <div class="x_axis" id="resultGraphX"></div> 
</div>
<script>
  lineGraph({{.graphArgs}});
</script>
{{end}}
