{{define "view"}}
{{$resultName := .ctx.Browse.Result}}
{{$fileName := .fileName}}
{{$results := .results}}
<ul class="breadcrumb">
  <li><a href="homeview">Home</a></li>
  {{if .ctx.Browse.IsUser}}
  <li><a href="userresult">Users</a></li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown">
      User Submissions <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      {{range .ctx.Users}}
      <li><a href="getsubmissions?id={{.Name}}&type=user">{{.Name}}</a></li>
      {{end}}
    </ul>
  </li>
  <li><a href="getfiles?subid={{.ctx.Browse.Sid}}">{{projectName .ctx.Browse.Pid}} Submission</a></li>
  {{else}}
  <li><a href="projectresult">Projects</a></li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown">
      Project Submissions <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      {{range .ctx.Projects}}
      <li><a href="getsubmissions?id={{.Id.Hex}}&type=project">{{.Name}}</a></li>
      {{end}}
    </ul>
  </li>
  <li><a href="getfiles?subid={{.ctx.Browse.Sid}}">{{.ctx.Browse.Uid}}'s Submission</a></li>
  {{end}}
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown">
      {{$resultName}} Graph <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      {{range $results}}  
      <li>
	<a href="displaygraph?filename={{$fileName}}&resultname={{.}}">
	  {{.}}
	</a>
      </li>
      {{end}}
    </ul>
  </li>
</ul>
<h2 class="text-center">
  <small>user</small> {{.ctx.Browse.Uid}} 
  <small>project</small> {{projectName .ctx.Browse.Pid}}
  <small>file</small> {{ $fileName}} 
  <small>tool</small> {{$resultName}}
</h2>
<script language="javascript" src="/static/js/jquery-2.0.2.min.js"></script>
<script language="javascript" src="/static/js/d3.v3.min.js"></script>
<script language="javascript" src="/static/js/rickshaw.js"></script>
<script language="javascript" src="/static/js/graphs.js"></script> 
<div class="chart_holder" id="resultGraphHolder">
  <div class="y_axis" id="resultGraphY"></div>
  <div class="chart" id="resultGraph"></div>
  <div class="legend" id="resultGraphLegend"></div>
  <div class="x_axis" id="resultGraphX"></div> 
</div>
<script>
  lineGraph({{.graphArgs}});
</script>
{{end}}
