{{ define "title" }}Impendulo{{ end }}
{{ define "content" }}
<div class="row-fluid">
  <div class="span12">
    <div id="navbar" class="row-fluid">
      <div class="span1"></div>
      <div class="span10">
	{{ template "navbar" . }}
      </div>
      <div class="span1"></div>
    </div>
    <div id="main" class="row-fluid">
      <div class="span1"></div>
      <div class="span10">
	<div id="messages" class="row-fluid">
	  {{ template "messages" .}}
	</div>
	<div id="view" class="row-fluid">
	{{ template "view" .}}
	</div>
      </div>
      <div class="span1"></div>
    </div>
  </div>
</div>
{{ end }}
