{{ define "navbar" }}
<div id="navbar" class="row-fluid">
  <div class="navbar navbar-inverse" style="position: static;">
    <div class="navbar-inner" style="height: auto;">
      <div class="container">
	<a class="brand" >Impendulo</a>
	<ul class="nav">
	  <li {{ if (.ctx.IsView "home") }} class="active" {{ end }}><a href="homeview">Home</a></li>
	  <li {{ if (.ctx.IsView "submit") }} class="dropdown active" {{else}} class="dropdown" {{end}}>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Submit<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="projectview">Project</a></li>
              <li><a href="skeletonview">Project Skeleton</a></li>
              <li><a href="testview">JUnit Test</a></li>	      
              <li><a href="jpffileview">JPF File</a></li>
	      <li><a href="archiveview">Intlola Archive</a></li>
	    </ul>
          </li>
	  <li {{ if (.ctx.IsView "download") }} class="dropdown active" {{else}} class="dropdown" {{end}}>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Download<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="projectdownloadview">Project Skeleton</a></li>
	    </ul>
          </li>
	  <li {{ if (.ctx.IsView "delete") }} class="dropdown active" {{else}} class="dropdown" {{end}}>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Delete<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="projectdeleteview">Projects</a></li>
	      <li><a href="userdeleteview">Users</a></li>
	    </ul>
          </li>
	  <li {{ if (.ctx.IsView "status") }} class="active" {{ end }}><a href="statusview">Status</a></li>
	</ul>
	<form class="navbar-form pull-right" action="logout" method="POST">
          <button type="submit" class="btn btn-inverse">Logout</button>
	</form>
      </div>
    </div>
  </div>
</div>
{{ end }}
