{{ define "nextResult" }}
{{$id := .Id.Hex}}
<div class="panel-group" id="jpfaccordion{{$id}}">
  <div class="panel panel-default">
    <div class="panel-heading">
      <a class="accordion-toggle" data-toggle="collapse"
	 data-parent="#jpfaccordion{{$id}}" href="#Statistics{{$id}}">
	<h4>Statistics</h4>
      </a>
    </div>
	<div id="Statistics{{$id}}" class="panel-collapse collapse in">
	  <div class="accordion-inner">
	    <dl class="dl-horizontal">
	      <dt>Elapsed time</dt><dd>{{.Stats.Time}}</dd>
	      <dt>New States</dt><dd>{{.Stats.NewStates}}</dd>
	      <dt>Visited States</dt><dd>{{.Stats.VisitedStates}}</dd>
	      <dt>BackTracked States</dt><dd>{{.Stats.BacktrackedStates}}</dd>
	      <dt>End States</dt><dd>{{.Stats.EndStates}}</dd>
	      <dt>Memory Usage</dt><dd>{{.Stats.Memory}} MB</dd>
	    </dl>
	  </div>
	</div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <a class="accordion-toggle" data-toggle="collapse"
	 data-parent="#jpfaccordion{{$id}}" href="#Errors{{$id}}">
	<h4>Errors</h4>
    </a>
    </div>
	<div id="Errors{{$id}}" class="panel-collapse collapse">
	  <div class="accordion-inner">
	    {{if .Success}}
	    <h5 class="text-success">No errors detected</h4>
	    {{else}}
	    {{$errCount := len .Result.Errors}}
	    <h5 class="text-error">{{$errCount}} errors found</h4>
	    {{range .Result.Errors}}
	    <h5 class="text-warning">{{.Property}}</h5>
	    {{$details := setBreaks .Details}}
	    <p>{{$details}}</p>
	    {{end}}
	    {{end}}
	  </div>
	</div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <a class="accordion-toggle" data-toggle="collapse"
	    data-parent="#jpfaccordion{{$id}}" href="#Threads{{$id}}">
	<h4>Threads</h4>
      </a>
    </div>
    <div id="Threads{{$id}}" class="panel-collapse collapse">
      <div class="accordion-inner">
	{{range .Threads}}
	<dl class="dl-horizontal">
	  <dt>Name</dt><dd>{{.Name}}</dd>
	  <dt>Identifier</dt><dd>{{.Id}}</dd>
	  <dt>Status</dt><dd>{{.Status}}</dd>
	  <dt>Stack Frames</dt>
	  {{range .Frames}}<dd>{{.}}</dd>{{end}}
	</dl>
	{{end}}
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <a class="accordion-toggle" data-toggle="collapse"
	 data-parent="#jpfaccordion{{$id}}" href="#Trace{{$id}}">
	<h4>Trace</h4>
      </a>
    </div>
    <div id="Trace{{$id}}" class="panel-collapse collapse">
      <div class="accordion-inner">
	<div class="panel-group" id="jpftraceaccordion{{$id}}">
	  {{range .Trace}}
	  {{$transaddress := address .}}
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <a class="accordion-toggle" data-toggle="collapse"
	  data-parent="#jpftraceaccordion{{$id}}"
	  href="#trans{{$transaddress}}{{$id}}">
		<h5 class="text-center">{{.String}}</h5>
	      </a>
	    </div>
	    <div id="trans{{$transaddress}}{{$id}}" class="panel-collapse collapse">
	      <div class="accordion-inner">
		<h5>Instructions</h5>
		<ol>
		  {{range .Insns}}<li>{{.Value}} ({{.Source}})</li>{{end}}
		</ol>
	      </div>
	    </div>
	  </div>
	  {{end}}
	</div>
      </div>
    </div>
  </div>
</div>
{{end}}
