{{define "nextResult"}}
{{if .Success}}
<h4 class="text-success">Passed all tests.</h4>
{{else}}
<dl class="dl-horizontal">
  <dt>Tests</dt><dd>{{.Tests}}</dd>
  <dt>Errors</dt><dd>{{.Errors}}</dd>
  <dt>Failures</dt><dd>{{.Failures}}</dd>
  <dt>Time</dt><dd>{{.Time}}</dd>
</dl>
<div class="panel-group" id="junitaccordionNext">
  <div class="panel panel-default">
    <div class="panel-heading">
      <a class="accordion-toggle" data-toggle="collapse"
	 data-parent="#junitaccordionNext" href="#FailuresNext">
	<h4>Failures<h4>
      </a>
    </div>
    <div id="FailuresNext" class="panel-collapse collapse in">
      <div class="accordion-inner">
	<div class="panel-group" id="junitresultsNext">
	  {{$results := .GetResults 10}}
	  {{range $results}}
	  {{$resultaddress := address .}}
	  {{if .IsFailure}}
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <a class="accordion-toggle" data-toggle="collapse"
	  data-parent="#junitresultsNext" href="#Result{{$resultaddress}}Next">
		<h5 class="text-center">{{base .Name}}</h5>
	      </a>
	    </div>
	    <div id="Result{{$resultaddress}}Next" class="panel-collapse collapse">
	      <div class="accordion-inner">
		<dl class="dl-horizontal">
		  <dt>Time</dt><dd>{{.Time}}</dd>
		  <dt>Message</dt><dd>{{.Fail.Message}}</dd>
		  <dt>Type</dt><dd>{{.Fail.Type}}</dd>
	  	</dl>
		<div class="panel-group" id="traceaccordion{{$resultaddress}}Next">
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <a class="accordion-toggle"
			 data-toggle="collapse"
			 data-parent="#traceaccordion{{$resultaddress}}Next"
			 href="#Trace{{$resultaddress}}Next">
			<h6>Trace</h6>
		      </a>
		    </div>
		    <div id="Trace{{$resultaddress}}Next" class="panel-collapse collapse">
		      <div class="accordion-inner">
			<p class="text-error">
			  {{setBreaks .Fail.Value}}
			</p>
		      </div>
		    </div>
		  </div>
		</div>
	      </div>
	    </div>
	  </div>
	  {{end}}
	  {{end}}
	</div>
      </div>
    </div>
  </div>
</div>
{{end}}
{{end}}
