{{ define "view" }}
<h3>Delete Projects</h3>
<form class="form-horizontal" action="deleteproject" method="post">
  <div class="form-group">
    <label class="col-lg-2 control-label" for="project">Project</label>
    <div class="col-lg-3">
      <select class="form-control" name="project" id="project">
	{{ range .ctx.Projects}}
	<option value={{.Id.Hex}}>{{.Name}}</option>
	{{end}}
      </select>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-3">
      <button type="submit" class="btn btn-default">
	<span class="glyphicon glyphicon-remove"></span> Delete
      </button>
    </div>
  </div>
</form>
{{ end }}
