{{define "view"}}
<ul class="breadcrumb">
  <li><a href="homeview">Home</a></li>  
  <li><a href="projectresult">Projects</a></li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      Project Submissions <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      {{range .ctx.Projects}}
      <li><a href="getsubmissions?id={{.Id.Hex}}&type=project">{{.Name}}</a></li>
      {{end}}
    </ul>
  </li>
</ul>
<h2 class="text-center"><small>project</small> {{projectName .ctx.Browse.Pid}}</h2>
<table class="table table-hover">
  <thead><tr class="info">
      <th>User</th>
      <th>Created</th>
  </tr></thead>
  <tbody data-provides="rowlink" >
    {{ range .subRes}}
    <tr class="success"><td><a class="rowlink" href="getfiles?subid={{.Id.Hex}}" >{{.User}}</a></td>
      <td><a class="rowlink" href="getfiles?subid={{.Id.Hex}}" >{{date .Time}}</a></td></tr>
    {{end}}
  </tbody>
</table>
{{end}}
