{{define "view"}}
{{$curFile := .curFile}}
{{$resultName := .ctx.Browse.Result}}
{{$fileName := $curFile.Name}}
{{$results := .results}}
{{$selected := .selected}}
<ul class="breadcrumb">
  <li><a href="homeview">Home</a></li>
  {{if .ctx.Browse.IsUser}}
  <li><a href="userresult">Users</a></li>
  <li><a href="getsubmissions?id={{.ctx.Browse.Uid}}&type=user">Submissions</a></li>
  {{else}}
  <li><a href="projectresult">Projects</a></li>
  <li><a href="getsubmissions?id={{.ctx.Browse.Pid}}&type=project">Submissions</a></li>
  {{end}}
  <li><a href="getfiles?subid={{.ctx.Browse.Sid}}">Snapshots</a></li>
  <li class="active">Analysis</li>
</ul>
<ul class="breadcrumb">
  {{range $results}}
  {{if equal . $resultName}}
  <li class="active">{{$resultName}}</li>
  {{else}}
  <li><a href="displayresult?filename={{$curFile.Name}}&currentIndex={{$selected}}&resultname={{.}}">
      {{.}}
    </a></li>
  {{end}}
  {{end}}
</ul>
<div class="row">
  <div class="col-md-3">
    <h2>{{ $fileName}}</h2>
  </div>
    <div class="col-md-6">
    {{template "pager" .}}
    </div>
    <div class="col-md-3">
      <form role="form" class="form-padded form-inline" action="displayresult" method="get">
	<div class="form-group">
	  <label class="sr-only" for="currentIndex">First File</label>
	  <select class="form-control" name="currentIndex" id="currentIndex">
	    {{range $index, $file := .files}} 
	    {{$dispIndex := sum $index 1}}
	    {{if $curFile.Same $file}}
	    <option selected value="{{$index}}">{{$dispIndex}}</option>
	    {{else}}
	    <option value="{{$index}}">{{$dispIndex}}</option>
	    {{end}}
	    {{end}}
	  </select>
	</div>
	<div class="form-group">
	  <label class="sr-only" for="nextIndex">Second File</label>
	  <select class="form-control" name="nextIndex" id="nextIndex">
	    {{range $index, $file := .files}} 
	    {{$dispIndex := sum $index 1}}
	    {{if equal $index 0}}
	    <option selected value="{{$index}}">{{$dispIndex}}</option>
	    {{else}}
	    <option value="{{$index}}">{{$dispIndex}}</option>
	    {{end}}
	    {{end}}
	  </select>
	</div>
	<input type="hidden" name="filename" value="{{$fileName}}"/>
	<button type="submit" class="btn btn-default">
	   <span class="glyphicon glyphicon-arrow-right"></span>
	</button>
      </form>
    </div>
  </div>
<h3>{{$resultName}}</h3>
{{template "fileInfo" $curFile}}
{{template "currentResult" .curResult}}
{{end}}
