{{define "currentResult"}}
{{$result := .curResult}}
{{$address := address $result}}
<div class="panel-group" id="summaryaccordion{{$address}}">
  {{range $result}}
  <div class="panel panel-default">
    <div class="panel-heading">
      <a class="accordion-toggle" data-toggle="collapse"
	 data-parent="#summaryaccordion{{$address}}"
	 href="#{{.Name}}{{$address}}">
	<h4>{{.Name}}</h4>
      </a>
    </div>
    <div id="{{.Name}}{{$address}}" class="panel-collapse collapse">
      <div class="accordion-inner">
	<p class="text-center">{{setBreaks .Body}}</p>
      </div>
    </div>
  </div>
  {{end}}
</div>
{{end}}
