{{define "view"}}
<ul class="breadcrumb">
  <li><a href="homeview">Home</a></li>  
  <li><a href="userresult">Users</a></li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown">
      User Submissions <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      {{range .ctx.Users}}
      <li><a href="getsubmissions?id={{.Name}}&type=user">{{.Name}}</a></li>
      {{end}}
    </ul>
  </li>
</ul>
<h2 class="text-center"><small>user</small> {{.ctx.Browse.Uid}}</h2>
<table class="table table-hover">
  <thead><tr class="info">
      <th>Project</th>
      <th>Created</th>
  </tr></thead>
  <tbody data-provides="rowlink" >
    {{ range .subRes}}
    <tr class="success"><td><a class="rowlink" href="getfiles?subid={{.Id.Hex}}" >{{projectName .ProjectId.Hex}}</a></td>
      <td><a class="rowlink" href="getfiles?subid={{.Id.Hex}}" >{{date .Time}}</a></td></tr>
    {{end}}
  </tbody>
</table>
{{end}}
