{{define "view"}}
<ul class="breadcrumb">
  <li><a href="homeview">Home</a> </li>  
  <li class="active">Users</li>
</ul>
<table class="table table-hover">
  <thead><tr class="info">
      <th>User</th>
      <th>Submissions</th>
  </tr></thead>
  <tbody data-provides="rowlink" >
    {{ range .ctx.Users}}
    <tr class="success">
      <td><a class="rowlink" href="getsubmissions?id={{.Name}}&type=user">{{.Name}}</a></td>
      <td><a class="rowlink" href="getsubmissions?id={{.Name}}&type=user">{{submissionCount .Name}}</a></td>
    </tr>
    {{end}}
  </tbody>
</table>

{{end}}
