{{define "view"}}
{{$currentFile := .currentFile}}
{{$nextFile := .nextFile}}
{{$current := .ctx.Browse.Current}}
{{$next := .ctx.Browse.Next}}
{{$project := projectName .ctx.Browse.Pid}}
{{$rd := .ctx.Browse.Result}}
{{$fileName := .ctx.Browse.File}}
{{template "breadcrumb" .}}
<h4 class="text-center">
  <small>user</small> {{.ctx.Browse.Uid}} 
  <small>project</small> {{$project}}
  <small>file</small> {{.ctx.Browse.File}}   
</h4>
{{if $rd.HasCode}}
<h4 class="text-center">
  <small>tool</small> <a href="#" id="a-toolcode">{{$rd.Format}}</a>
</h4>
<script>
  $('#a-toolcode').click(function(){
  showToolCode({{$rd.Raw}},{{.ctx.Browse.Pid}},{{$rd.Format}});
  return false;
  });
</script>
{{else}}
<h4 class="text-center">
  <small>tool</small> {{$rd.Format}}
</h4>
{{end}}
{{if hasChart .currentResult .nextResult}}
<script>
  var chartParams = {};
  chartParams.subID = {{.ctx.Browse.Sid.Hex}};
  chartParams.file = {{$fileName}};
  chartParams.result = {{$rd.Raw}};
  chartParams.user = {{.ctx.Browse.Uid}};
  chartParams.currentTime = {{chartTime (index .files .ctx.Browse.Current)}};
  chartParams.nextTime = {{chartTime (index .files .ctx.Browse.Next)}};
  chartParams.src = 'comparables';
</script>
<form class="form-inline centered" role="form" onsubmit="return ajaxChart(chartParams)">
  <div class="form-group">
    <label class="sr-only" for="comparables">Submissions</label>
    <select class="form-control select-inline" name="comparables" id="comparables" multiple>
    </select>
  </div>
  <button type="submit" class="btn btn-default">
    <span class="glyphicon glyphicon-arrow-right"></span>
  </button>
</form>
<script type="text/javascript" language="javascript">
  $('#comparables').multiselect();
  window.onload = function()
  { 
  addComparables({{validId .currentResult .nextResult}},{{.ctx.Browse.Pid.Hex}}, 'comparables', {{.ctx.Browse.Uid}});
  ;}
</script>
<div id="chartHolder">
</div>
<script>
  ajaxChart(chartParams);
</script>
{{end}}
<div class="row">
  <div class="col-md-3">
    <h4 style="margin-top:20px;" class="text-left">
      Compare Snapshots
    </h4>
  </div>
  <div class="col-md-6">
    {{template "pager" .}}
  </div>
  <div class="col-md-3">
    <form role="form" class="form-padded form-inline" action="displayresult" method="get">
      <div class="form-group">
	<label class="sr-only" for="current">First File</label>
	<select class="form-control" name="current" id="current">
	  {{range $index, $file := .files}} 
	  {{$dispIndex := sum $index 1}}
	  {{if $currentFile.Same $file}}
	  <option selected value="{{$index}}">{{$dispIndex}}</option>
	  {{else}}
	  <option value="{{$index}}">{{$dispIndex}}</option>
	  {{end}}
	  {{end}}
	</select>
      </div>
      <div class="form-group">
	<label class="sr-only" for="next">Second File</label>
	<select class="form-control" name="next" id="next">
	  {{range $index, $file := .files}} 
	  {{$dispIndex := sum $index 1}}
	  {{if eq $next $index}}
	  <option selected value="{{$index}}">{{$dispIndex}}</option>
	  {{else}}
	  <option value="{{$index}}">{{$dispIndex}}</option>
	  {{end}}
	  {{end}}
	</select>
      </div>
      <button type="submit" class="btn btn-default">
	<span class="glyphicon glyphicon-arrow-right"></span>
      </button>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <dl class="dl-horizontal text-info">
      <dt>File Number</dt>
      <dd>{{sum $current 1}}</dd>
      <dt>Date</dt>
      <dd>{{date $currentFile.Time}}</dd>
    </dl>
  </div>
  <div class="col-md-6">
    <dl class="dl-horizontal text-info">
      <dt>File Number</dt>
      <dd>{{sum $next 1}}</dd>
      <dt>Date</dt>
      <dd>{{date $nextFile.Time}}</dd>
    </dl>
  </div>
</div>
{{if (eq $rd.Type "Diff")}}
{{$data := .currentResult.Create .nextResult}}
{{template "result"  $data}}
{{else}}
<div class="row">
  {{$args := args "state" .ctx.Browse}}
  <div class="col-md-6">
    {{if isError .currentResult}}
    <p class="text-danger">{{.currentResult.GetReport}}</p>
    {{else}}
    {{$args := insert $args "Report" .currentResult.GetReport}}
    {{template "result"  $args}}
    {{end}}
  </div>
  <div class="col-md-6">
    {{if isError .nextResult}}
    <p class="text-danger">{{.nextResult.GetReport}}</p>
    {{else}}
    {{$args := insert $args "Report" .nextResult.GetReport}}
    {{template "result"  $args}}
    {{end}}
  </div>
</div>
{{if (eq .currentResult.Template "junitresult")}}
<div class="row">
  <div class="col-md-5">
  </div>
  <div class="col-md-2">
    <a class="btn btn-block btn-info" 
       href="displayresult?displaycount={{.ctx.Browse.DisplayCount}}">
      <span class="glyphicon glyphicon-chevron-down"></span>
      More
      <span class="glyphicon glyphicon-chevron-down"></span> 
    </a>
  </div>
  <div class="col-md-5">
  </div>
</div>
{{end}}
{{end}}
{{if (eq $rd.Type "Code")}}
<script>
  highlight();
</script>
{{end}}
{{end}}
