{{define "view"}} {{$currentFile := .currentFile}} {{$nextFile := .nextFile}} {{$current := .ctx.Browse.Current}} {{$next := .ctx.Browse.Next}} {{$project := projectName .ctx.Browse.Pid}} {{$rd := .ctx.Browse.Result}} {{$fileName := .ctx.Browse.File}} {{template "breadcrumb" .}}
<ul class="nav nav-tabs tabs-list">
    <li class="dropdown" id="project-dropdown">
        <a href="#" data-toggle="dropdown" role="button" id="project-dropdown-label" class="dropdown-toggle"></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="project-dropdown-label"></ul>
    </li>
    <li class="dropdown" id="user-dropdown">
        <a href="#" data-toggle="dropdown" role="button" id="user-dropdown-label" class="dropdown-toggle"></a>
        <ul class="dropdown-menu" role="menu"></ul>
    </li>
    <li class="dropdown" id="assignment-dropdown">
        <a href="#" data-toggle="dropdown" role="button" id="assignment-dropdown-label" class="dropdown-toggle"></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="assignment-dropdown-label"></ul>
    </li>
    <li class="dropdown" id="submission-dropdown">
        <a href="#" data-toggle="dropdown" role="button" id="submission-dropdown-label" class="dropdown-toggle"></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="submission-dropdown-label"></ul>
    </li>
    <li class="dropdown" id="file-dropdown">
        <a href="#" data-toggle="dropdown" role="button" id="file-dropdown-label" class="dropdown-toggle"></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="file-dropdown-label"></ul>
    </li>
    <li class="dropdown">
        <a href="#" data-toggle="dropdown" role="button" id="tool-dropdown-label" class="dropdown-toggle">
            <h4>
	<small>tool</small> {{.ctx.Browse.Result.Format}} <span class="caret"></span> 
      </h4>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="tool-dropdown-label">
            {{$results := .results}} {{range $k, $v := $results}} {{if emptyM $v}}
            <li>
                <a href="resultsview?result={{$k}}">
		  {{$k}}
		</a>
            </li>
            {{else}}
            <li class="dropdown-submenu">
                <a tabindex="-1" href="#">{{$k}}</a>
                <ul class="dropdown-menu" role="menu">
                    {{range $k2, $v2 := $v}} {{if emptyS $v2}}
                    <li>
                        <a href="resultsview?result={{$k}}:{{$k2}}">
		    {{$k2}}
		  </a>
                    </li>
                    {{else}}
                    <li class="dropdown-submenu">
                        <a tabindex="-1" href="#">{{$k2}}</a>
                        <ul class="dropdown-menu" role="menu">
                            {{$files := sortFiles $v2}} {{range $files}}
                            <li>
                                <a href="resultsview?result={{$k}}:{{$k2}}-{{.Id.Hex}}">
				  {{date .Time}}
				</a>
                            </li>
                            {{end}}
                        </ul>
                    </li>
                    {{end}} {{end}}
                </ul>
            </li>
            {{end}} {{end}}
        </ul>
    </li>
</ul>
{{if $rd.HasCode}}
<h4 class="text-center">
  <a href="#" id="a-toolcode">{{$rd.Format}}</a>
</h4>
<script>
    $('#a-toolcode').click(function() {
        AnalysisView.showToolCode('{{$rd.Raw}}', '{{.ctx.Browse.Pid.Hex}}', '{{$rd.Format}}');
        return false;
    });
</script>
{{end}} {{if hasChart .currentResult .nextResult}}
<form class="form-inline centered" role="form" id="form-comparables">
    <div class="form-group">
        <label class="sr-only" for="comparables">Submissions</label>
        <select class="form-control select-inline" name="comparables" id="comparables" multiple>
        </select>
    </div>
    <button type="submit" class="btn btn-default">
        <span class="glyphicon glyphicon-arrow-right"></span>
    </button>
</form>
<div id="chartHolder">
</div>
<script type="text/javascript" language="javascript" src="/static/js/resultschart.js"></script>
<script>
    var chartParams = {
        sid: '{{.ctx.Browse.Sid.Hex}}',
        file: '{{$fileName}}',
        result: '{{$rd.Raw}}',
        uid: '{{.ctx.Browse.Uid}}',
        fid: '{{toolerId .currentResult .nextResult}}',
        pid: '{{.ctx.Browse.Pid.Hex}}',
        currentTime: '{{chartTime (index .files .ctx.Browse.Current)}}',
        nextTime: '{{chartTime (index .files .ctx.Browse.Next)}}'
    }
    ResultChart.init(chartParams);
</script>
{{end}}
<div class="row">
    <div class="col-md-3">
        <h4 style="margin-top:20px;" class="text-left">
      Compare Snapshots
    </h4>
    </div>
    <div class="col-md-6">
        {{template "pager" .}}
    </div>
    <div class="col-md-3">
        <form role="form" class="form-padded form-inline" action="resultsview" method="get">
            <div class="form-group">
                <label class="sr-only" for="current">First File</label>
                <select class="form-control" name="current" id="current">
                    {{range $index, $file := .files}} {{$dispIndex := sum $index 1}} {{if $currentFile.Same $file}}
                    <option selected value="{{$index}}">{{$dispIndex}}</option>
                    {{else}}
                    <option value="{{$index}}">{{$dispIndex}}</option>
                    {{end}} {{end}}
                </select>
            </div>
            <div class="form-group">
                <label class="sr-only" for="next">Second File</label>
                <select class="form-control" name="next" id="next">
                    {{range $index, $file := .files}} {{$dispIndex := sum $index 1}} {{if eq $next $index}}
                    <option selected value="{{$index}}">{{$dispIndex}}</option>
                    {{else}}
                    <option value="{{$index}}">{{$dispIndex}}</option>
                    {{end}} {{end}}
                </select>
            </div>
            <button type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-arrow-right"></span>
            </button>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <dl class="dl-horizontal text-info">
            <dt>File Number</dt>
            <dd>{{sum $current 1}}</dd>
            <dt>Date</dt>
            <dd>{{date $currentFile.Time}}</dd>
        </dl>
    </div>
    <div class="col-md-6">
        <dl class="dl-horizontal text-info">
            <dt>File Number</dt>
            <dd>{{sum $next 1}}</dd>
            <dt>Date</dt>
            <dd>{{date $nextFile.Time}}</dd>
        </dl>
    </div>
</div>
<script type="text/javascript" language="javascript" src="/static/js/analysis.js"></script>
<script>
    var isUser = '{{.ctx.Browse.IsUser}}' === 'true';
    var fn = '{{.ctx.Browse.File}}';
    var sid = '{{.ctx.Browse.Sid.Hex}}';
    var aid = '{{.ctx.Browse.Aid.Hex}}';
    var uid = '{{.ctx.Browse.Uid}}';
    var pid = '{{.ctx.Browse.Pid.Hex}}';
    var tipe = isUser ? 'user' : 'project';
    AnalysisView.init(fn, sid, aid, pid, uid, tipe);
</script>
{{if (eq $rd.Type "Diff")}} {{$data := .currentResult.Create .nextResult}} {{template "result" $data}} {{else}} {{if (eq $rd.Type "Code")}}
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="checkbox-annotations" class="col-sm-6 control-label">
                    Annotations
                    <a href="" hidden id="btn-cfg-annotations">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                </label>
                <div class="col-sm-6">
                    <input type="checkbox" id="checkbox-annotations" class="form-control">
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-4">
    </div>
</div>
{{end}}
<div class="row">
    {{$args := args "ctx" .ctx}}
    <div class="col-md-6">
        {{if isError .currentResult}}
        <p class="text-danger">{{.currentResult.Reporter}}</p>
        {{else}} {{$args := insert $args "Report" .currentResult.Reporter}} {{template "result" $args}} {{end}}
    </div>
    <div class="col-md-6">
        {{if isError .nextResult}}
        <p class="text-danger">{{.nextResult.Reporter}}</p>
        {{else}} {{$args := insert $args "Report" .nextResult.Reporter}} {{template "result" $args}} {{end}}
    </div>
</div>
{{if (eq $rd.Type "JUnit")}}
<div class="row">
    <div class="col-md-5">
    </div>
    <div class="col-md-2">
        <a class="btn btn-block btn-info" href="resultsview?displaycount={{.ctx.Browse.DisplayCount}}">
            <span class="glyphicon glyphicon-chevron-down"></span>
            More
            <span class="glyphicon glyphicon-chevron-down"></span> 
        </a>
    </div>
    <div class="col-md-5">
    </div>
</div>
{{end}} {{end}} {{if (eq $rd.Type "Code")}}
<div class="modal fade" id="modal-code" tabindex="-1" role="dialog" aria-labelledby="label-modal-code" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="label-modal-code">Add Comment</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" hidden>
                    <p></p>
                </div>
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-lg-12">
                            <textarea class="form-control" name="description" id="textarea-description" rows="10" cols="100" maxlength="1000" required>
                            </textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-4">
                            <label class="control-label" for="line-start">Start</label>
                            <input type="number" name="from" min="0" max="0" value="0" id="line-start" class="input-line">
                            <label class="control-label" for="line-end">End</label>
                            <input type="number" name="to" min="0" max="0" value="0" id="line-end" class="input-line">
                        </div>
                    </div>
                    <input type="hidden" name="input-file-id" value="none" id="input-file-id">
                    <input type="hidden" name="input-user" value="none" id="input-user">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-primary" id="submit-comment" value="Submit">
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-annotations" tabindex="-1" role="dialog" aria-labelledby="label-modal-annotations" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="label-modal-annotations">Configure Annotations</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" language="javascript" src="/static/js/code.js"></script>
<script>
    CodeView.init('{{.ctx.ActiveUser}}', '{{$currentFile.Id.Hex}}', '{{$nextFile.Id.Hex}}');
</script>
{{end}} {{end}}
