{{ define "view" }}
<h3>Submit Intlola Archive</h3>
<form class="form-horizontal" role="form" action="submitarchive" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label class="col-lg-2 control-label" for="project">Project</label>
    <div class="col-lg-3">
      <select class="form-control" name="project" id="project">
	{{ range .ctx.Projects}}
	<option value={{.Id.Hex}}>{{.Name}}</option>
	{{end}}
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-2 control-label" for="user">User</label>
    <div class="col-lg-3">
      <select class="form-control" name="user" id="user">
	{{ range .ctx.Users}}
	<option value={{.Name}}>{{.Name}}</option>
	{{end}}
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-2 control-label" for="archive">Recorded Archive</label>
    <div class="col-lg-3">
      <input class="form-control" type="file" id="archive" name="archive">
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-3">
      <button type="submit" class="btn btn-default">
	<span class="glyphicon glyphicon-upload"></span> Submit
      </button>
    </div>
  </div>
</form>
{{ end }}
