{{define "view"}}
<!-- !-->
{{template "breadcrumb" .}}
<ul class="nav nav-tabs">
    <li class="dropdown" id="type-dropdown">
        <a href="#" data-toggle="dropdown" role="button" id="type-dropdown-label" class="dropdown-toggle"></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="type-dropdown-label"></ul>
    </li>
</ul>
<ul class="nav nav-pills">
    <li><a href="assignmentsview">Table</a>
    </li>
    <li class="active"><a>Chart</a>
    </li>
</ul>
{{template "chart" .}}
<script type="text/javascript" language="javascript" src="/static/js/assignment.js"></script>
{{if .ctx.Browse.IsUser}}
<script>
    AssignmentsChart.init('user', "{{.ctx.Browse.Uid}}");
</script>
{{else}}
<script>
    AssignmentsChart.init('project', "{{.ctx.Browse.Pid.Hex}}");
</script>
{{end}} {{end}}
