{{define "view"}}
<!-- !-->
{{template "breadcrumb" .}}
<ul class="nav nav-tabs">
    <li class="dropdown" id="type-dropdown">
        <a href="#" data-toggle="dropdown" role="button" id="type-dropdown-label" class="dropdown-toggle"></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="type-dropdown-label"></ul>
    </li>
</ul>
<ul class="nav nav-pills">
    <li class="active"><a>Table</a></a>
    </li>
    <li><a href="assignmentschart">Chart</a>
    </li>
</ul>
{{template "table" .}}
<script type="text/javascript" language="javascript" src="/static/js/comparisontable.js"></script>
<script type="text/javascript" language="javascript" src="/static/js/assignment.js"></script>
<script>
    var isUser = '{{.ctx.Browse.IsUser}}' === 'true';
    var tipe = isUser ? 'user' : 'project';
    var id = isUser ? '{{.ctx.Browse.Uid}}' : '{{.ctx.Browse.Pid.Hex}}';
    AssignmentsView.init(tipe, id);
</script>
{{end}}
