{{define "view"}}
<!-- !-->
{{template "breadcrumb" .}}
<ul class="nav nav-tabs">
    <li class="dropdown" id="type-dropdown">
        <a href="#" data-toggle="dropdown" role="button" id="type-dropdown-label" class="dropdown-toggle"></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="type-dropdown-label"></ul>
    </li>
</ul>
<ul class="nav nav-pills">
    <li class="active"><a>Table</a></a>
    </li>
    <li><a href="assignmentschart">Chart</a>
    </li>
</ul>
<table id="table-assignments" class="table table-hover table-striped tablesorter">
    <thead>
        <tr class="info">
            <th>Name</th>
            <th>Start Date</th>
            <th>Start Time</th>
            <th>End Date</th>
            <th>End Time</th>
            <th>Submissions</th>
            <th>Snapshots</th>
            <th>Launches</th>
            <th>User Tests</th>
            <th>User Testcases</th>
            <th>Tests Passed</th>
        </tr>
    </thead>
    <tbody data-link="row" class="rowlink">
    </tbody>
</table>
<script type="text/javascript" language="javascript" src="/static/js/assignment.js"></script>
<script>
    var isUser = '{{.ctx.Browse.IsUser}}' === 'true';
    var tipe = isUser ? 'user' : 'project';
    var id = isUser ? '{{.ctx.Browse.Uid}}' : '{{.ctx.Browse.Pid.Hex}}';
    AssignmentsView.init(tipe, id);
</script>
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <a type="button" class="btn btn-default" id="btn-all-submissions">
            All Submissions
          </a>
        </div>
    </div>
</div>
{{end}}
