{{define "breadcrumb"}}
<ul class="breadcrumb">
  {{if .ctx.Browse.Level.Is "home"}} 
  <li class="active">Home</li>
  {{else}}
  <li><a href="homeview">Home</a></li>
  {{if .ctx.Browse.Level.Is "projects"}}
  <li class="active">Projects</li>
  {{else if .ctx.Browse.Level.Is "users"}}
  <li class="active">Users</li>
  {{else if .ctx.Browse.IsUser}}
  <li><a href="userresult">Users</a></li>
  {{if .ctx.Browse.Level.Is "submissions"}}
  <li class="active">
    User Submissions
  </li>
  {{else}}
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      User Submissions <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      {{$users := users}}
      {{range $users}}
      <li><a href="{{getUserSubmissions .Name}}">{{.Name}}</a></li>
      {{end}}
    </ul>
  </li>
  {{end}}
  {{else}} 
  <li><a href="projectresult">Projects</a></li>
  {{if .ctx.Browse.Level.Is "submissions"}}
   <li class="active">
     Project Submissions
   </li>
  {{else}}
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      Project Submissions <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      {{$projects := projects}}
      {{range $projects}}
      <li><a href="{{getProjectSubmissions .Id}}">{{.Name}}</a></li>
      {{end}}
    </ul>
  </li>
  {{end}}
  {{end}}
  {{if .ctx.Browse.Level.Is "files"}}
  {{$project := projectName .ctx.Browse.Pid}}
  {{$uid := .ctx.Browse.Uid}}
  <li class="active">{{$uid}}'s
    {{$project}} Submission</li>
  {{else if or (.ctx.Browse.Level.Is "analysis") (.ctx.Browse.Level.Is "chart")}}
  {{$project := projectName .ctx.Browse.Pid}}
  {{$uid := .ctx.Browse.Uid}}
  {{$sid := .ctx.Browse.Sid}}
  <li><a href="{{getFiles .ctx.Browse.Sid}}">{{$uid}}'s
      {{$project}} Submission</a></li>
  {{$resultName := .ctx.Browse.FormatResult}}
  {{$fileName := .ctx.Browse.File}}
  {{$results := .results}}
  {{if .ctx.Browse.Level.Is "analysis"}}
  {{$current := .ctx.Browse.Current}}
  {{$next := .ctx.Browse.Next}}
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      {{$resultName}} <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      {{range $k, $v := $results}}  
      {{if eq (index $v 0) $k}}
      <li>
	<a href="displayresult?result={{$k}}">
	  {{$k}}
	</a>
      </li>
      {{else}}
      <li class="dropdown-submenu">
	<a tabindex="-1" href="#">{{$k}}</a>
	<ul class="dropdown-menu" role="menu">
	  {{range $v}}  
	  <li>
	    <a href="displayresult?result={{$k}}:{{.}}">
	      {{.}}
	    </a>
	  </li>
	  {{end}}
	</ul>
      </li>
      {{end}}
      {{end}}
    </ul>
  </li>
  {{end}}
  {{end}}
  {{end}}
</ul>
{{end}}
