{{define "view"}}
{{$resultName := .ctx.Browse.ResultName}}
{{$fileName := .ctx.Browse.FileName}}
{{$results := .results}}
<ul class="breadcrumb">
  <li><a href="homeview">Home</a></li>
  {{if .ctx.Browse.IsUser}}
  <li><a href="userresult">Users</a></li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      User Submissions <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      {{range .ctx.Users}}
      <li><a href="getsubmissions?id={{.Name}}&type=user">{{.Name}}</a></li>
      {{end}}
    </ul>
  </li>
  <li><a href="getfiles?subid={{.ctx.Browse.Sid}}">{{projectName .ctx.Browse.Pid}} Submission</a></li>
  {{else}}
  <li><a href="projectresult">Projects</a></li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      Project Submissions <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      {{range .ctx.Projects}}
      <li><a href="getsubmissions?id={{.Id.Hex}}&type=project">{{.Name}}</a></li>
      {{end}}
    </ul>
  </li>
  <li><a href="getfiles?subid={{.ctx.Browse.Sid}}">{{.ctx.Browse.Uid}}'s Submission</a></li>
  {{end}}
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      {{$resultName}} Chart <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      {{range $results}}  
      <li>
	<a href="displaychart?resultname={{.}}">
	  {{.}}
	</a>
      </li>
      {{end}}
    </ul>
  </li>
</ul>
<h4 class="text-center">
  <small>user</small> {{.ctx.Browse.Uid}} 
  <small>project</small> {{projectName .ctx.Browse.Pid}}
  <small>file</small> {{ $fileName}} 
</h4>
<h3 class="text-center">
  <small>tool</small> {{$resultName}}
</h3>
<div id="chart" class="chart" xmlns:xlink="http://www.w3.org/1999/xlink">
  <div id="tooltip" class="hidden">
    <h5 id="title"><small id="y"></small></h5>
    <h6 id="x"></h6>
  </div>
</div>
<script language="javascript" src="/static/js/jquery-2.0.2.min.js"></script>
<script language="javascript" src="/static/js/d3.v3.min.js"></script>
<script language="javascript" src="/static/js/charts.js"></script> 
<script>
  timeChart({{.chart}});
</script>
{{end}}
