{{define "view"}}
{{$resultName := .ctx.Browse.Result}}
{{$fileName := .ctx.Browse.File}}
{{$uid := .ctx.Browse.Uid}}
{{$sid := .ctx.Browse.Sid}}
{{$results := .results}}
{{template "breadcrumb" .}}
<h4 class="text-center">
  <small>project</small> {{projectName .ctx.Browse.Pid}}
  <small>file</small> {{ $fileName}} 
</h4>
<h3 class="text-center">
  <small>tool</small> {{$resultName}} 
  <small>user</small> {{.ctx.Browse.Uid}} 
  <small class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      Compare <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      {{$submissions := submissions .ctx.Browse.Pid}}
      {{range $submissions}}
       {{if ne $sid .Id}}
      <li>
	<a href="{{compareChart $sid $uid $resultName $fileName .Id.Hex}}">
	  {{.User}} on {{date .Time}} 
       </a>
      </li>
      {{end}}
      {{end}}
      <li>
	<a href="{{singleChart $sid $uid $resultName $fileName}}">
	  No one
	</a>
      </li>
    </ul>
  </small>
</h3> 
<div id="chart" class="chart" xmlns:xlink="http://www.w3.org/1999/xlink">
  <div id="tooltip" class="tooltip"></div>
</div>
<script language="javascript" src="/static/js/jquery-2.0.2.min.js"></script>
<script language="javascript" src="/static/js/d3.v3.min.js"></script>
<script language="javascript" src="/static/js/charts.js"></script> 
<script>
  timeChart({{$fileName}}, {{$resultName}}, {{.chart}});
</script>
{{end}}
