{{define "result"}} {{$report := .Report}} {{if $report.Success}}
<h4 class="text-success">No problems detected.</h4>
{{else}} {{$fileName := .ctx.Browse.File}} {{$file := $report.File $fileName}} {{$rid := $report.Id.Hex}}
<h4 class="text-danger">{{$report.Errors}} problems detected.</h4>
{{$addr := address $report}}
<div class="panel-group" id="checkstyleaccordion{{$addr}}">
</div>
{{range $file.Errors}} {{$errorName := shortName .Source}} {{$package := package $errorName}} {{$class := class $errorName}}{{$msg := .Message}}
<script type="text/javascript" language="javascript" src="/static/js/checkstyle.js"></script>
<script>
    var eid = "error{{.Id.Hex}}";
    CheckstyleResult.addFile("checkstyleaccordion{{$addr}}", eid, "{{$package}}", "{{$class}}", "{{.Severity}}", "{{$msg}}");
</script>
{{range .Lines}}
<script>
    CheckstyleResult.addLine("{{$rid}}", eid, "{{.}}", "{{$errorName}}", "{{$msg}}");
</script>
{{end}} {{end}} {{end}} {{end}}
