{{define "edit"}}
<h3 class="centered">Load Submission</h3>
<form class="form-horizontal" role="form" action="loadsubmission" method="get">
  <div class="form-group">
    <label class="col-lg-offset-3 col-lg-2 control-label" for="project">Project</label>
    <div class="col-lg-3">
      <select class="form-control" name="project" id="project">
	{{$projects := projects}}
	{{if .projectId}}
	{{$pid := .projectId.Hex}}
	{{range $projects}}
	<option value={{.Id.Hex}} 
		{{if eq $pid .Id.Hex}}selected{{end}}>
	  {{.Name}}
	</option>
	{{end}}
	{{else}}
	{{range $projects}}
	<option value={{.Id.Hex}}>{{.Name}}</option>
	{{end}}
	{{end}}
      </select>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-5 col-lg-3">
      <button type="submit" class="btn btn-default">
	<span class="glyphicon glyphicon-download"></span> Load
      </button>
    </div>
  </div>
</form>
{{if .projectId}}
<form class="form-horizontal" role="form" action="loadsubmission" method="get">
  <div class="form-group">
    <label class="col-lg-offset-3 col-lg-2 control-label" for="subid">Submission</label>
    <div class="col-lg-3">
      <select class="form-control" name="subid" id="subid">
	{{$submissions := submissions .projectId}}
	{{if .submission}}
	{{$sid := .submission.Id.Hex}}
	{{range $submissions}}
	<option value={{.Id.Hex}} 
		{{if eq $sid .Id.Hex}}selected{{end}}>
	  {{.User}} {{date .Time}}
	</option>
	{{end}}
	{{else}}
	{{range $submissions}}
	<option value={{.Id.Hex}}>{{.User}} {{date .Time}}</option>
	{{end}}
	{{end}}
      </select>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-5 col-lg-3">
      <button type="submit" class="btn btn-default">
	<span class="glyphicon glyphicon-download"></span> Load
      </button>
    </div>
  </div>
  <input type="hidden" name="project" id="project" value="{{.projectId.Hex}}">
</form>
{{end}}
{{with .submission}}
<h3 class="centered">Edit Submission</h3>
<form class="form-horizontal" role="form" action="editsubmission" method="post">
  <div class="form-group">
    <label class="col-lg-offset-3 col-lg-2 control-label" for="project">Project</label>
    <div class="col-lg-3">
      <select class="form-control" name="project" id="project">
	{{$projects := projects}}
	{{$currentProject := .ProjectId.Hex}}
	{{range $projects}}
	<option value={{.Id.Hex}} 
		{{if eq $currentProject .Id.Hex}}selected{{end}}>
	  {{.Name}}
	</option>
	{{end}}
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-offset-3 col-lg-2 control-label" for="user">User</label>
    <div class="col-lg-3">
      <select class="form-control" name="user" id="user">
	{{$users := users}}
	{{$currentUser := .User}}
	{{range $users}}
	<option value={{.Name}} 
		{{if eq $currentUser .Name}}selected{{end}}>
	  {{.Name}}
	</option>
	{{end}}
      </select>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-5 col-lg-3">
      <button type="submit" class="btn btn-default">
	<span class="glyphicon glyphicon-upload"></span> Update
      </button>
    </div>
  </div>
  <input type="hidden" name="subid" id="subid" value="{{.Id.Hex}}">
</form>
{{end}}
{{end}}
