{{define "view"}}
<h3 class="heading">Export Impendulo Data</h3>
<form class="form-horizontal" action="exportdb.zip" method="get">
  <div class="form-group">
    <label class="col-lg-offset-3 col-lg-2 control-label" for="db">Database</label>
    <div class="col-lg-3">
      <select class="form-control" name="db" id="db" onchange="loadCollections('db', 'collections')">
	{{$dbs := databases}}
	{{range $dbs}}
	<option selected value={{.}}>{{.}}</option>
	{{end}}
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-offset-3 col-lg-2 control-label" for="collections">Collections</label>
    <div class="col-lg-3">
      <select class="form-control" name="collections" id="collections"
	      multiple>
      </select>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-5 col-lg-3">
      <button type="submit" class="btn btn-default">
	<span class="glyphicon glyphicon-import"></span> Export
      </button>
    </div>
  </div>
</form>
<script type="text/javascript" language="javascript">
  window.onload = function()
  {
  loadCollections('db', 'collections');
  ;}
</script>
{{end}}
