{{define "view"}}
{{$project := projectName .ctx.Browse.Pid}}
{{$uid := .ctx.Browse.Uid}}
{{$sid := .ctx.Browse.Sid}}
{{$pid := .ctx.Browse.Pid}}
{{template "breadcrumb" .}}
<h2 class="text-center"><small>user</small> {{.ctx.Browse.Uid}} <br>
  <small>project</small> {{$project}}</h2>
<ul class="list-unstyled">
  {{range .fileInfo}}
  {{$fileName := .Name}}
  <li>
    <h3>{{$fileName}}</h3>
    <h5>{{.Count}} Snapshots</h5>
    <ul class="list-inline">
      <li class="dropdown">
	<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
	  Analysis <span class="caret"></span>
	</button>
	{{$results := resultNames $sid $fileName}}
	<ul class="dropdown-menu" role="menu">
	  {{range $k, $v := $results}}  
	  {{if eq (index $v 0) $k}}
	  <li>
	    <a href="displayresult?result={{$k}}&file={{$fileName}}">
	      {{$k}}
	    </a>
	  </li>
	  {{else}}
	  <li class="dropdown-submenu">
	    <a tabindex="-1" href="#">{{$k}}</a>
	    <ul class="dropdown-menu" role="menu">
	      {{range $v}}  
	      <li>
		<a href="displayresult?result={{$k}}:{{.}}&file={{$fileName}}">
		  {{.}}
		</a>
	      </li>
	      {{end}}
	    </ul>
	  </li>
	  {{end}}
	  {{end}}
	</ul>
      </li>
    </ul>
  </li>
  {{end}}
</ul>
{{end}}
