{{define "view"}}
{{$project := projectName .ctx.Browse.Pid}}
{{$uid := .ctx.Browse.Uid}}
{{$sid := .ctx.Browse.Sid}}
{{template "breadcrumb" .}}
<h2 class="text-center"><small>user</small> {{.ctx.Browse.Uid}} <br>
  <small>project</small> {{$project}}</h2>
<ul class="list-unstyled">
  {{range .fileInfo}}
  <li>
    <h3>{{.Name}}</h3>
    <h5>{{.Count}} Snapshots</h5>
    {{$javac := "Javac"}}
    <a href="{{displayResult $sid $uid $javac .Name 0 1}}">Analysis</a>
    <a href="{{singleChart $sid $uid $javac .Name}}">Charts</a>
  </li>
  {{end}}
</ul>
{{end}}
