{{define "view"}}
{{$project := projectName .ctx.Browse.Pid}}
{{$uid := .ctx.Browse.Uid}}
{{$sid := .ctx.Browse.Sid}}
{{$pid := .ctx.Browse.Pid}}
{{template "breadcrumb" .}}
<h2 class="text-center"><small>user</small> {{.ctx.Browse.Uid}} <br>
  <small>project</small> {{$project}}</h2>
<ul class="list-unstyled">
  {{range .fileInfo}}
  {{$fileName := .Name}}
  <li>
    <h3>{{$fileName}}</h3>
    <h5>{{.Count}} Snapshots</h5>
    <ul class="list-inline">
      <li class="dropdown">
	<a class="dropdown-toggle" data-toggle="dropdown" href="#">
	  Analysis <span class="caret"></span>
	</a>
	{{$tools := analysisNames $pid .Type}}
	<ul class="dropdown-menu" role="menu">
	  {{range $tools}}  
	  <li>
	    <a href="{{displayResult $sid $uid . $fileName 0 1}}">
	      {{.}}
	    </a>
	  </li>
	  {{end}}
	</ul>
      </li>
      {{if .HasCharts}}
      {{$charts := chartNames $pid .Type}}
      <li class="dropdown">
	<a class="dropdown-toggle" data-toggle="dropdown" href="#">
	  Charts <span class="caret"></span>
	</a>
	<ul class="dropdown-menu" role="menu">
	  {{range $charts}}  
	  <li>
	    <a href="{{singleChart $sid $uid . $fileName}}">
	      {{.}}
	    </a>
	  </li>
	  {{end}}
	</ul>
      </li>
      {{end}}
    </ul>
  </li>
  {{end}}
</ul>
{{end}}
