{{define "config"}}
<h3>Create JPF Configuration</h3>
<form class="form-horizontal" action="createjpf" method="post">
  <div class="form-group">
    <label class="col-lg-2 control-label" for="project">Project</label>
    <div class="col-lg-4">
      <select class="form-control" name="project" id="project">
	{{$projects := projects}}
	{{range $projects}}
	<option value={{.Id.Hex}}>{{.Name}}</option>
	{{end}}
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-2 control-label" for="availablelisteners">Listeners</label>
    <div class="col-lg-4">
    <label>Available</label>
      <select class="form-control" name="availablelisteners" id="availablelisteners"
	      size="5">
	{{$listeners := listeners}}
	{{range $listeners}}
	<option value={{.Package}}.{{.Name}}
	onclick="movevalue('availablelisteners', 'addedlisteners', this)">
	  {{.Package}}.{{.Name}}
	</option>
	{{end}}
      </select>
    </div>
    <div class="col-lg-4">
    <label>Added</label>
      <select class="form-control" name="addedlisteners" id="addedlisteners" size="5" added="true" 
	      multiple></select>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-2 control-label" for="availablesearches">Searches</label>
    <div class="col-lg-4">
      <label>Available</label>
      <select class="form-control" name="availablesearches" id="availablesearches" size="5">
	{{$searches := searches}}
	{{range $searches}}
	<option value={{.Package}}.{{.Name}}
	onclick="replacevalue('availablesearches', 'addedsearches', this)">
	  {{.Package}}.{{.Name}}
	</option>
	{{end}}
      </select>
    </div>
    <div class="col-lg-4">
      <label>Chosen</label>
      <input type="text" class="form-control" name="addedsearches"
	     id="addedsearches" readonly placeholder="None"></input>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-2 control-label" for="other">Other Properties</label>
    <div class="col-lg-8">
      <textarea class="form-control" name="other"
		id="other" rows="5" placeholder="Example: target.args = 2,4,1"></textarea>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-3">
      <button type="submit" class="btn btn-default btn-inverse">Create</button>
    </div>
  </div>
</form>
{{end}}
