{{define "currentResult"}}
{{$result := .curResult}}
{{if $result.Success}}
<h4 class="text-success">No errors detected</h4>
{{else}}
{{$errCount := len $result.Findings.Errors}}
<h4 class="text-danger accordion-text">
  {{if equal $errCount 1}}
  Error found
  {{else}}
  {{$errCount}} errors found
  {{end}}
</h4>
{{end}}
<div class="panel-group" id="jpfaccordionCurrent">
  <div class="panel panel-default">
    <div class="panel-heading">
      <a class="accordion-toggle" data-toggle="collapse"
	 data-parent="#jpfaccordionCurrent" href="#StatisticsCurrent">
	<h4>Statistics</h4>
      </a>
    </div>
	<div id="StatisticsCurrent" class="panel-collapse collapse in">
	  <div class="accordion-inner">
	    <dl class="dl-horizontal">
	      <dt>Elapsed time</dt><dd>{{$result.Stats.Time}} ms</dd>
	      <dt>New States</dt><dd>{{$result.Stats.NewStates}}</dd>
	      <dt>Visited States</dt><dd>{{$result.Stats.VisitedStates}}</dd>
	      <dt>BackTracked States</dt><dd>{{$result.Stats.BacktrackedStates}}</dd>
	      <dt>End States</dt><dd>{{$result.Stats.EndStates}}</dd>
	      <dt>Memory Usage</dt><dd>{{$result.Stats.Memory}} MB</dd>
	    </dl>
	  </div>
	</div>
  </div>
  {{if not $result.Success}}
  <div class="panel panel-default">
    <div class="panel-heading">
      <a class="accordion-toggle" data-toggle="collapse"
	 data-parent="#jpfaccordionCurrent" href="#ErrorsCurrent">
	<h4>Errors</h4>
    </a>
    </div>
	<div id="ErrorsCurrent" class="panel-collapse collapse">
	  <div class="accordion-inner">
	    {{range $result.Findings.Errors}}
	    <h5 class="text-danger accordion-text">{{.Property}}</h5>
	    {{$details := setBreaks .Details}}
	    <p class="text-warning accordion-text">{{$details}}</p>
	    {{end}}
	  </div>
	</div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <a class="accordion-toggle" data-toggle="collapse"
	    data-parent="#jpfaccordionCurrent" href="#ThreadsCurrent">
	<h4>Threads</h4>
      </a>
    </div>
    <div id="ThreadsCurrent" class="panel-collapse collapse">
      <div class="accordion-inner">
	{{range $result.Threads}}
	<dl class="dl-horizontal">
	  <dt>Name</dt><dd>{{.Name}}</dd>
	  <dt>Identifier</dt><dd>{{.Id}}</dd>
	  <dt>Status</dt><dd>{{.Status}}</dd>
	  <dt>Stack Frames</dt>
	  {{range .Frames}}<dd>{{.}}</dd>{{end}}
	</dl>
	{{end}}
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <a class="accordion-toggle" data-toggle="collapse"
	 data-parent="#jpfaccordionCurrent" href="#TraceCurrent">
	<h4>Trace</h4>
      </a>
    </div>
    <div id="TraceCurrent" class="panel-collapse collapse">
      <div class="accordion-inner">
	<div class="panel-group" id="jpftraceaccordionCurrent">
	  {{range $result.Trace}}
	  {{$transaddress := address .}}
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <a class="accordion-toggle" data-toggle="collapse"
	  data-parent="#jpftraceaccordionCurrent"
	  href="#trans{{$transaddress}}Current">
		<h5 class="text-center">{{.String}}</h5>
	      </a>
	    </div>
	    <div id="trans{{$transaddress}}Current" class="panel-collapse collapse">
	      <div class="accordion-inner">
		<h5>Instructions</h5>
		<ol>
		  {{range .Insns}}<li>{{unescape .Value}} ({{unescape .Source}})</li>{{end}}
		</ol>
	      </div>
	    </div>
	  </div>
	  {{end}}
	</div>
      </div>
    </div>
  </div>
  {{end}}
</div>
{{end}}
