{{define "view"}} {{template "breadcrumb" .}}
<ul class="nav nav-pills">
    <li class="active"><a>Table</a>
    </li>
    <li><a href="overviewchart">Chart</a>
    </li>
</ul>
{{template "table" .}}
<script type="text/javascript" language="javascript" src="/static/js/comparisontable.js"></script>
<script type="text/javascript" language="javascript" src="/static/js/overview.js"></script>
<script>
    var isUser = '{{.ctx.Browse.IsUser}}' === 'true';
    var tipe = isUser ? 'user' : 'project';
    Overview.setup(tipe);
</script>
{{end}}
