{{define "pager"}}
{{$current := .ctx.Browse.Current}}
{{$next := .ctx.Browse.Next}}
{{$resultName := .ctx.Browse.ResultName}}
{{$fileName := .curFile.Name}}
{{$sliced := slice .files $current}}
{{$adjustment := adjustment .files $current}}
<ul id="filepager" class="pagination pagination-right">
  {{$prev := sum $current -1}}
  <li>
    <a href="displayresult?filename={{$fileName}}&current={{$prev}}&next={{$current}}&resultname={{$resultName}}">
      &laquo;
    </a>
  </li>
  {{range $index, $file := $sliced}}
  {{$actual := sum $index $adjustment}}
  {{$actualNext := sum $actual 1}}
  {{if (equal $actual $current)}} 
  <li class="active">
    <a id="file{{$actual}}"
       href="displayresult?filename={{$fileName}}&current={{$actual}}&next={{$actualNext}}&resultname={{$resultName}}">
      {{$actualNext}}
    </a>
  </li>
  {{else}}
  <li>
    <a id="file{{$actual}}"
       href="displayresult?filename={{$fileName}}&current={{$actual}}&next={{$actualNext}}&resultname={{$resultName}}">
      {{$actualNext}}
    </a>
  </li>
  {{end}}
  {{end}}
  {{$last := sum $next 1}}
  <li>
    <a href="displayresult?filename={{$fileName}}&current={{$next}}&next={{$last}}&resultname={{$resultName}}">
      &raquo;
    </a>
  </li>
</ul>
{{end}}
