{{define "pager"}}
{{$current := .ctx.Browse.Current}}
{{$next := .ctx.Browse.Next}}
{{$resultName := .ctx.Browse.Result}}
{{$fileName := .ctx.Browse.File}}
{{$sliced := slice .files $current}}
{{$adjustment := adjustment .files $current}}
{{$uid := .ctx.Browse.Uid}}
{{$sid := .ctx.Browse.Sid}}
<ul id="filepager" class="pagination pagination-right">
  {{$prev := sum $current -1}}
  <li>
    <a href="{{displayResult $sid $uid $resultName $fileName $prev $current}}">
      &laquo;
    </a>
  </li>
  {{range $index, $file := $sliced}}
  {{$actual := sum $index $adjustment}}
  {{$actualNext := sum $actual 1}}
  {{if eq $actual $current}} 
  <li class="active">
    <a id="file{{$actual}}"
       href="{{displayResult $sid $uid $resultName $fileName $actual $actualNext}}">
      {{$actualNext}}
    </a>
  </li>
  {{else}}
  <li>
    <a id="file{{$actual}}"
       href="{{displayResult $sid $uid $resultName $fileName $actual $actualNext}}">
      {{$actualNext}}
    </a>
  </li>
  {{end}}
  {{end}}
  {{$nextnext := sum $next 1}}
  <li>
    <a href="{{displayResult $sid $uid $resultName $fileName $next $nextnext}}">
      &raquo;
    </a>
  </li>
</ul>
{{end}}
