{{define "result" }}
{{$report := .Report}}
{{if $report.Success}}
<h4 class="text-success">No problems detected.</h4>
{{else}}
{{$code := "Code"}}
{{$uid := .state.Uid}}
{{$sid := .state.Sid}}
{{$fileName := .state.File}}
{{$current := .state.Current}}
{{$next := .state.Next}}
{{$file := $report.File $fileName}}
{{$id := $report.Id.Hex}}
{{$addr := address $report}}
<h4 class="text-danger">{{$report.Errors}} problems detected.</h4>
<div class="panel-group" id="pmdaccordion{{$addr}}">
  {{range $file.Violations}}
  {{$violationAddress := address .}}
  <div class="panel panel-default">
    <div class="panel-heading">
      <a class="accordion-toggle" data-toggle="collapse"
	 data-parent="pmdaccordion{{$addr}}"
	 href="#violation{{$violationAddress}}">
	<h5 class="text-center">{{.Rule}}</h5>
      </a>
    </div>
    <div id="violation{{$violationAddress}}" class="panel-collapse collapse">
      <div class="accordion-inner">
	<dl class="dl-horizontal">
	  <dt>Location</dt>
	  <dd>Lines: 
	    {{$ends := .Ends}}
	    {{range $i, $start :=  .Starts}}
	    {{$end := index $ends $i}}
	    <a href="{{displayResultLines $sid $uid $code $fileName $current $next $id $start $end}}">
	      {{$start}} to {{$end}}; 
	    </a>
	    {{end}}
	  </dd>
	  <dt>Rule Set</dt><dd>{{.RuleSet}}</dd>
	  <dt>Priority</dt><dd>{{.Priority}}</dd>
	  <dt>Description</dt><dd>{{.Description}}</dd>
	</dl>
	<a href="{{.Url}}">More Info</a>
      </div>
    </div>
  </div>
  {{end}}
</div>
{{end}}
{{end}}
