{{define "view"}}
<!-- This is the breadcrumb which allows us to browse through the --
  -- hierarchy quickly -->
{{template "breadcrumb" .}}
<ul class="nav nav-pills">
  <li class="active"><a>Table</a></a></li>
  <li><a href="{{getProjectChart .ctx.Browse.Pid}}">Chart</a></li>
</ul>
<h2 class="text-center"><small>project</small> {{projectName .ctx.Browse.Pid}}</h2>
<!-- Here we display a table of the different submissions within this project --
  -- . Included are users' names and date to allow us to differentiate between --
  -- submissions. -->
<table class="table table-hover table-striped">
  <thead>
    <tr class="info">
      <th>User</th>
      <th>Created</th>
      <th>Snapshots</th>
      <th>Launches</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody data-provides="rowlink" >
    {{range .subRes}}
    {{$subId := .Id}}
    <tr>
      <td><a class="rowlink" href="{{getFiles $subId}}">
	  {{.User}}
      </a></td>
      <td><a class="rowlink" href="{{getFiles $subId}}" >
	  {{date .Time}}
      </a></td>
      <td><a class="rowlink" href="{{getFiles $subId}}">
	  {{snapshots .Id}}
      </a></td>
      <td><a class="rowlink" href="{{getFiles $subId}}">
	  {{launches .Id}}
      </a></td>
      <td><a class="rowlink" href="{{getFiles $subId}}">
	  {{.Result}}
      </a></td>
    </tr>
    {{end}}
  </tbody>
</table>
{{end}}
