{{define "view"}}
{{template "breadcrumb" .}}
<ul class="nav nav-pills">
  <li class="active"><a>Table</a></li>
  <li><a  href="projectchart">Chart</a></li>
</ul>
<table class="table table-hover table-striped">
  <thead>
    <tr class="info">
      <th>Name</th>
      <th>Created</th>
      <th>Language</th>
      <th>Submissions</th>
      <th>Snapshots</th>
      <th>Launches</th>
    </tr>
  </thead>
  <tbody data-provides="rowlink" >
    {{$projects := projects}}
    {{range $projects}}
    {{$counts := typeCounts .Id}}
    <tr>
      <td>
	<a class="rowlink" href="getsubmissions?project-id={{.Id.Hex}}" >
	  {{.Name}}
	</a>
      </td>
      <td>
	<a class="rowlink" href="getsubmissions?project-id={{.Id.Hex}}" >
	  {{date .Time}}
	</a>
      </td>
      <td>
	<a class="rowlink" href="getsubmissions?project-id={{.Id.Hex}}" >
	  {{.Lang}}
	</a>
      </td>
      <td>
	<a class="rowlink" href="getsubmissions?project-id={{.Id.Hex}}">
	  {{index $counts 0}}
	</a>
      </td>
      <td>
	<a class="rowlink" href="getsubmissions?project-id={{.Id.Hex}}">
	  {{index $counts 1}}
	</a>
      </td>
      <td>
	<a class="rowlink" href="getsubmissions?project-id={{.Id.Hex}}">
	  {{index $counts 2}}
	</a>
      </td>
    </tr>
    {{end}}
  </tbody>
</table>
{{end}}
