{{define "view"}}
{{template "breadcrumb" .}}
<ul class="nav nav-pills">
  <li><a href="projectresult">Table</a></li>
  <li class="active"><a>Chart</a></li>
</ul>
<div id="overview-chart" class="overview-chart" xmlns:xlink="http://www.w3.org/1999/xlink"></div>
<script language="javascript" src="/static/js/jquery-2.0.2.min.js"></script>
<script language="javascript" src="/static/js/d3.v3.min.js"></script>
<script language="javascript" src="/static/js/overviewChart.js"></script> 
<script>
  overviewChart({{overviewChart "project"}}, "project");
</script>
{{end}}
