{{define "view"}}
<!-- !-->
{{template "breadcrumb" .}}
<ul class="nav nav-tabs">
    <li class="dropdown">
        <a href="#" data-toggle="dropdown" role="button" id="project-dropdown-label" class="dropdown-toggle" projectid="{{.ctx.Browse.Pid.Hex}}">
            <h4><small>project</small> {{projectName .ctx.Browse.Pid}} <span class="caret"></span></h4> 
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="project-dropdown-label" id="project-list">
        </ul>
    </li>
</ul>
<ul class="nav nav-pills">
    <li class="active"><a>Table</a></a>
    </li>
    <li><a href="submissionschartview">Chart</a>
    </li>
</ul>
<!-- Here we display a table of the different submissions within this project --
  -- . Included are users' names and date to allow us to differentiate between --
  -- submissions. -->
<table id="table-submissions" class="table table-hover table-striped tablesorter">
    <thead>
        <tr class="info">
            <th>User</th>
            <th>Created</th>
            <th>Snapshots</th>
            <th>Launches</th>
            <th>User Tests</th>
            <th>User Testcases</th>
            <th>Tests Passed</th>
        </tr>
    </thead>
    <tbody data-link="row" class="rowlink">
    </tbody>
</table>
<script>
    ProjectSubmissionsView.init();
</script>
{{end}}
