{{define "view"}}
{{template "breadcrumb" .}}
<ul class="nav nav-pills">
  <li><a href="getsubmissions?projectid={{.ctx.Browse.Pid}}">Table</a></li>
  <li class="active"><a>Chart</a></li>
</ul>
<h2 class="text-center">
  <small>project</small> {{projectName .ctx.Browse.Pid}}
</h2>
<form class="form-inline centered" role="form" onsubmit="return psc();">
  <div class="form-group">
    <label for="results">Results For: </label>
    <select class="form-control select-inline" name="results" id="results">
    </select>
  </div>
  <button type="submit" class="btn btn-default">
    <span class="glyphicon glyphicon-arrow-right"></span>
  </button>
</form>
<div id="submissions-chart" xmlns:xlink="http://www.w3.org/1999/xlink"></div>
<script language="javascript" src="/static/js/submissionsChart.js"></script> 
<script>
  window.onload = function(){ 
  addResults({{.ctx.Browse.Pid.Hex}}, 'results', 'project');
  }
  function psc(){
  loadSubmissionsChart({{.ctx.Browse.Pid}},'project',document.getElementById('results').value);
  return false;
  }
</script>
{{end}}
