{{define "view"}} {{template "breadcrumb" .}}
<ul class="nav nav-pills">
    <li class="active"><a>Table</a>
    </li>
    <li><a href="projectchart">Chart</a>
    </li>
</ul>
<table id="table-project" class="table table-hover table-striped tablesorter">
    <thead>
        <tr class="info">
            <th>Name</th>
            <th></th>
            <th>Created</th>
            <th>Language</th>
        </tr>
    </thead>
    <tbody data-link="row" class="rowlink">
    </tbody>
</table>
<script type="text/javascript" language="javascript" src="/static/js/overview.js"></script>
<script>
    Overview.setup('project');
</script>
{{end}}
