{{define "view"}}
<h3>Run Tool</h3>
<form class="form-horizontal" role="form" action="runtool" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label class="col-lg-2 control-label" for="project">Project</label>
    <div class="col-lg-3">
      <select class="form-control" name="project" id="project">
	{{range .ctx.Projects}}
	<option value={{.Id.Hex}}>{{.Name}}</option>
	{{end}}
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-2 control-label" for="tool">Tool</label>
    <div class="col-lg-3">
      <select class="form-control" name="tool" id="tool">
	{{range tools}}
	<option value={{.}}>{{.}}</option>
	{{end}}
	<option value="all">All</option>
      </select>
    </div>
  </div>
    <div class="form-group">
    <div class="col-lg-offset-2 col-lg-3">
      <div class="checkbox">
        <label>
	  <input type="checkbox" value="true"
		 id="runempty-check" name="runempty-check">
	  Run only on files without results.</label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-3">
      <button type="submit" class="btn btn-default">
	<span class="glyphicon glyphicon-play"></span> Run
      </button>
    </div>
  </div>
</form>
{{end}}
