{{define "view"}}
<h3 class="heading">Change Project Skeleton</h3>
<form class="form-horizontal" action="changeskeleton" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label class="col-lg-offset-3 col-lg-2 control-label" for="projectid">Project</label>
    <div class="col-lg-3">
      <select class="form-control" name="projectid" id="projectid">
	{{$projects := projects}}
	{{range $projects}}
	<option value={{.Id.Hex}}>{{.Name}}</option>
	{{end}}
      </select>
    </div>
  </div>
  <div class="form-group" id="data-files-group">
    <label class="col-lg-offset-3 col-lg-2 control-label" for="skeleton">Skeleton Archive</label>
    <div class="col-lg-3">
      <input class="form-control" name="skeleton" type="file" id="skeleton">
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-5 col-lg-3">
      <button type="submit" class="btn btn-default">
	<span class="glyphicon glyphicon-upload"></span> Submit
      </button>
    </div>
  </div>
</form>
{{end}}
