{{define "analysis"}}
{{$resultName := .ctx.Browse.Result}}
{{$fileName := .ctx.Browse.File}}
<h4 class="text-center">
  <small>tool</small> {{$resultName}}
</h4>
{{if hasChart .currentResult .nextResult}}
{{$tc := chartTime (index .files .ctx.Browse.Current)}}
{{$tn := chartTime (index .files .ctx.Browse.Next)}}
<form class="form-inline centered" role="form" onsubmit="return ajaxChart({{.ctx.Browse.Sid.Hex}},{{.ctx.Browse.File}},{{.ctx.Browse.Result}},{{$tc}},{{$tn}},{{.ctx.Browse.Uid}},{{.currentFile.Id.Hex}},'submissions')">
  <div class="form-group">
    <label class="sr-only" for="submissions">Submissions</label>
    <select class="form-control select-inline" name="submissions" id="submissions" multiple>
    </select>
  </div>
  <button type="submit" class="btn btn-default">
    <span class="glyphicon glyphicon-arrow-right"></span>
  </button>
</form>
<script type="text/javascript" language="javascript">
  window.onload = function()
  {
  addSubmissions({{.ctx.Browse.Pid.Hex}}, 'submissions');
  ;}
</script>
<div id="chartHolder">
</div>
<script>
  ajaxChart({{.ctx.Browse.Sid.Hex}},{{.ctx.Browse.File}},{{.ctx.Browse.Result}},{{$tc}},{{$tn}},{{.ctx.Browse.Uid}});
</script>
{{end}}
{{if (eq $resultName "Diff")}}
{{$data := .currentResult.Create .nextResult}}
{{template "result"  $data}}
{{else}}
<div class="row">
  {{$args := args "state" .ctx.Browse}}
  <div class="col-md-6">
    {{if isError .currentResult}}
    <p class="text-danger">{{.currentResult.GetReport}}</p>
    {{else}}
    {{$args := insert $args "Report" .currentResult.GetReport}}
    {{template "result"  $args}}
    {{end}}
  </div>
  <div class="col-md-6">
    {{if isError .nextResult}}
    <p class="text-danger">{{.nextResult.GetReport}}</p>
    {{else}}
    {{$args := insert $args "Report" .nextResult.GetReport}}
    {{template "result"  $args}}
    {{end}}
  </div>
</div>
{{if (eq .currentResult.Template "junitresult")}}
<div class="row">
  <div class="col-md-5">
  </div>
  <div class="col-md-2">
    <a class="btn btn-block btn-info" 
       href="displayresult?displaycount={{.ctx.Browse.DisplayCount}}">
      <span class="glyphicon glyphicon-chevron-down"></span>
      More
      <span class="glyphicon glyphicon-chevron-down"></span> 
    </a>
  </div>
  <div class="col-md-5">
  </div>
</div>
{{end}}
{{end}}
{{if (eq $resultName "Code")}}
<script>
  highlight();
</script>
{{end}}
{{end}}
