{{define "view"}}
<!-- !-->
{{template "breadcrumb" .}}
<ul class="nav nav-tabs">
    <li class="dropdown" id="project-dropdown">
        <a href="#" data-toggle="dropdown" role="button" id="project-dropdown-label" class="dropdown-toggle"></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="project-dropdown-label"></ul>
    </li>
    <li class="dropdown" id="user-dropdown">
        <a href="#" data-toggle="dropdown" role="button" id="user-dropdown-label" class="dropdown-toggle"></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="user-dropdown-label"></ul>
    </li>
    <li class="dropdown" id="assignment-dropdown">
        <a href="#" data-toggle="dropdown" role="button" id="assignment-dropdown-label" class="dropdown-toggle"></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="assignment-dropdown-label"></ul>
    </li>
</ul>
<ul class="nav nav-pills">
    <li class="active"><a>Table</a></a>
    </li>
    <li><a href="submissionschart">Chart</a>
    </li>
</ul>
<!-- Here we display a table of the different submissions within this project --
  -- . Included are users' names and date to allow us to differentiate between --
  -- submissions. -->
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <div class="input-group date">
                    <label class="input-group-addon">Start</label>
                    <input type="text" class="form-control" id="datetimepicker-start" />
                    <span class="input-group-btn" id="span-start">
		      <a  class="btn btn-default" type="button">
			<span class="glyphicon glyphicon-calendar"></span>
                    </a>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <div class="input-group date">
                    <label class="input-group-addon">End</label>
                    <input type="text" class="form-control" id="datetimepicker-end" />
                    <span class="input-group-btn" id="span-end">
		      <a  class="btn btn-default" type="button">
			<span class="glyphicon glyphicon-calendar"></span>
                    </a>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <button type="submit" class="btn btn-default" id="button-filter">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
            </div>
        </div>
    </div>
</div>
<table id="table-submissions" class="table table-hover table-striped tablesorter">
    <thead>
        <tr class="info">
            <th>Project</th>
            <th>User</th>
            <th>Assignment</th>
            <th>Date</th>
            <th>Time</th>
            <th>Snapshots</th>
            <th>Launches</th>
            <th>User Tests</th>
            <th>User Testcases</th>
            <th>Tests Passed</th>
        </tr>
    </thead>
    <tbody data-link="row" class="rowlink">
    </tbody>
</table>
<script type="text/javascript" language="javascript" src="/static/js/submission.js"></script>
<script>
    var isUser = '{{.ctx.Browse.IsUser}}' === 'true';
    var aid = '{{.ctx.Browse.Aid.Hex}}';
    var uid = isUser ? '{{.ctx.Browse.Uid}}' : '';
    var pid = isUser ? '' : '{{.ctx.Browse.Pid.Hex}}';
    var tipe = isUser ? 'user' : 'project';
    SubmissionsView.init(aid, pid, uid, tipe);
</script>
{{end}}
