{{define "analysis"}}
{{$currentFile := .childFile}}
{{$currentResult := .currentChildResult}}
{{$nextResult := .nextChildResult}}
{{$fileName := .ctx.Browse.ChildFile}}
{{$current := .ctx.Browse.CurrentChild}}
{{$childFiles := .childFiles}}
{{$sid := .ctx.Browse.Sid}}
{{$lang := submissionLang $sid}} 
{{$testResults := .childResults}}
{{$tc := chartTime (index .files .ctx.Browse.Current)}}
{{$tn := chartTime (index .files .ctx.Browse.Next)}}
{{$showChart := hasChart $currentResult $nextResult}}
{{$test := .ctx.Browse.Test}}
<script>
  var isTest = {{$test}} === {{.ctx.Browse.File}};
  var chartParams = {};
  chartParams.subID = {{.ctx.Browse.Sid.Hex}};
  chartParams.file = {{$test}};
  if(isTest){
  chartParams.result = {{.ctx.Browse.Result}};
  chartParams.srcfileID = {{$currentFile.Id.Hex}};
  }else{
  chartParams.result = {{.ctx.Browse.Result}};
  chartParams.testfileID = {{$currentFile.Id.Hex}};
  }
  chartParams.user = {{.ctx.Browse.Uid}};
  chartParams.currentTime = {{chartTime (index .files .ctx.Browse.Current)}};
  chartParams.nextTime = {{chartTime (index .files .ctx.Browse.Next)}};
  chartParams.src = 'comparables';
</script>
<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <h4 class="text-center code-popover-h" >
      <small>tool</small> {{.ctx.Browse.FormatResult}}
      <a href="#code_wrapper" id="codepopoverlink">
	{{$fileName}}
      </a>
      @ {{date $currentFile.Time}}
    </h4>
    <div id="code_wrapper" class="popover-code hidden">
      <pre class="brush: {{$lang}}; class-name: 'popover-code'">
	{{string $currentFile.Data}}
      </pre>
    </div>
    <script type="text/javascript">
      highlight(undefined);
      addPopover('codepopoverlink', 'code_wrapper');
    </script>
    {{if $showChart}}
    <form class="form-inline centered" role="form" onsubmit="return ajaxChart(chartParams)">
      <div class="form-group">
	<label class="sr-only" for="comparables">Comparables</label>
	<select class="form-control select-inline" name="comparables" id="comparables" multiple>
	</select>
      </div>
      <button type="submit" class="btn btn-default">
	<span class="glyphicon glyphicon-arrow-right"></span>
      </button>
    </form>
    <script type="text/javascript" language="javascript">
      $('#comparables').multiselect();
      window.onload = function()
      {
      addComparables({{validId $currentResult $nextResult}}, {{.ctx.Browse.Pid.Hex}}, 'comparables');
      ;}
    </script>
    {{end}}
  </div>
  <div class="col-md-3">
  </div>
</div>
{{if $showChart}}
<div id="chartHolder">
</div>
<script>
  ajaxChart(chartParams);
</script>
{{end}}
{{$sliced := slice $childFiles $current}}
{{$adjustment := adjustment $childFiles $current}}
<div id="wrapper" style="text-align: center">    
  <ul id="filepager" class="pagination pagination-centre">
    <li>
      <a href="displaychildresult?currentchild={{(sum $current -1)}}">
	&laquo;
      </a>
    </li>
    {{range $index, $file := $sliced}}
    {{$actual := sum $index $adjustment}}
    {{$actualNext := sum $actual 1}}
    {{if eq $actual $current}} 
    <li class="active">
      <a id="file{{$actual}}"
	 href="displaychildresult?currentchild={{$actual}}">
	{{$actualNext}}
      </a>
    </li>
    {{else}}
    <li>
      <a id="file{{$actual}}"
	 href="displaychildresult?currentchild={{$actual}}">
	{{$actualNext}}
      </a>
    </li>
    {{end}}
    {{end}}
    <li>
      <a href="displaychildresult?currentchild=(sum $current 1)}}">
	&raquo;
      </a>
    </li>
  </ul>
</div>
<div class="row">
  {{$args := args "state" .ctx.Browse}}
  <div class="col-md-6">
    {{if isError $currentResult}}
    <p class="text-danger">{{$currentResult.GetReport}}</p>
    {{else}}
    {{$args := insert $args "Report" $currentResult.GetReport}}
    {{template "result"  $args}}
    {{end}}
  </div>
  <div class="col-md-6">
    {{if isError $nextResult}}
    <p class="text-danger">{{$nextResult.GetReport}}</p>
    {{else}}
    {{$args := insert $args "Report" $nextResult.GetReport}}
    {{template "result"  $args}}
    {{end}}
  </div>
</div>
{{end}}

