{{define "view"}}
<!-- This is the breadcrumb which allows us to browse through the --
  -- hierarchy quickly -->
{{template "breadcrumb" .}}
<h2 class="text-center"><small>user</small> {{.ctx.Browse.Uid}}</h2>
<!-- Here we display a table of the different submissions this user --
  -- has made. Included are date and project name to differentiate between --
  -- submissions. -->
<table class="table table-hover table-striped">
  <thead><tr class="info">
      <th>Project</th>
      <th>Created</th>
      <th>Snapshots</th>
      <th>Launches</th>
  </tr></thead>
  <tbody data-provides="rowlink" >
    {{ range .subRes}}
    {{$subId := .Id}}
    <tr>
      <td><a class="rowlink" href="{{getFiles $subId}}">
	  {{projectName .ProjectId}}
      </a></td>
      <td><a class="rowlink" href="{{getFiles $subId}}" >
	  {{date .Time}}
      </a></td>
      <td><a class="rowlink" href="{{getFiles $subId}}">
	  {{snapshots .Id}}
      </a></td>
      <td><a class="rowlink" href="{{getFiles $subId}}">
	  {{launches .Id}}
      </a></td>
    </tr>
    {{end}}
  </tbody>
</table>
{{end}}
