{{define "view"}}
<ul class="breadcrumb">
  <li><a href="homeview">Home</a></li>  
  <li><a href="userresult">Users</a></li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      User Submissions <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      {{range .ctx.Users}}
      <li><a href="getsubmissions?id={{.Name}}&type=user">{{.Name}}</a></li>
      {{end}}
    </ul>
  </li>
</ul>
<h2 class="text-center"><small>user</small> {{.ctx.Browse.Uid}}</h2>
<table class="table table-hover">
  <thead><tr class="info">
      <th>Project</th>
      <th>Created</th>
      <th>Snapshots</th>
      <th>Launches</th>
  </tr></thead>
  <tbody data-provides="rowlink" >
    {{ range .subRes}}
    {{$subId := .Id.Hex}}
    <tr class="success">
      <td><a class="rowlink" href="getfiles?subid={{$subId}}">
	  {{projectName .ProjectId.Hex}}
      </a></td>
      <td><a class="rowlink" href="getfiles?subid={{$subId}}" >
	  {{date .Time}}
      </a></td>
      <td><a class="rowlink" href="getfiles?subid={{$subId}}">
	  {{snapshots .Id}}
      </a></td>
      <td><a class="rowlink" href="getfiles?subid={{$subId}}">
	  {{launches .Id}}
      </a></td>
    </tr>
    {{end}}
  </tbody>
</table>
{{end}}
