{{define "view"}}
<!-- This is the breadcrumb which allows us to browse through the --
  -- hierarchy quickly -->
{{template "breadcrumb" .}}
<ul class="nav nav-tabs">
  <li class="dropdown">
    <a href="#" data-toggle="dropdown" role="button"
       id="user-dropdown-label" class="dropdown-toggle">
      <h4>
	<small>user</small> {{.ctx.Browse.Uid}} <span class="caret"></span>
      </h4> 
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="user-dropdown-label">
      {{$users := users}}
      {{range $users}}
      <li><a href="getsubmissions?user-id={{.}}">{{.}}</a></li>
      {{end}}
    </ul>
  </li>
</ul>
<ul class="nav nav-pills">
  <li class="active"><a href="#">Table</a></li>
  <li><a href="submissionschartview">Chart</a></li>
</ul>
<table id="table-submissions" class="table table-hover table-striped tablesorter">
  <thead><tr class="info">
      <th>Project</th>
      <th>Created</th>
      <th>Snapshots</th>
      <th>Launches</th>
  </tr></thead>
  <tbody data-provides="rowlink" >
    {{range .subRes}}
    {{$subId := .Id.Hex}}
    <tr>
      <td><a class="rowlink" href="getfiles?submission-id={{$subId}}">
	  {{projectName .ProjectId}}
      </a></td>
      <td><a class="rowlink" href="getfiles?submission-id={{$subId}}" >
	  {{date .Time}}
      </a></td>
      <td><a class="rowlink" href="getfiles?submission-id={{$subId}}">
	  {{snapshots .Id}}
      </a></td>
      <td><a class="rowlink" href="getfiles?submission-id={{$subId}}">
	  {{launches .Id}}
      </a></td>
    </tr>
    {{end}}
  </tbody>
</table>
<script>
$(function(){
$("#table-submissions").tablesorter({
theme : 'bootstrap'
});
});
</script>
{{end}}
